<link rel="stylesheet" href="/static/css/about_us.css">
{% extends "base.html" %}

{% block content %}
<div class="container">
	<br>
	<br>
	<h1>About Us</h1>
		<div class="left">
			<h3>The Founders</h3>
				<img src='' class='img-responsive' />
		</div>
		<hr>
			<h3>How did it Start?</h3>
				<p>While still in college, one of the founders saw that many of his soon-to-be graduating classmates were actively worrying about how they, with their new, career-filled lives, would be able to have the unique, diverse social group they had in college. A little bit of brainstorming and a whole lot of tweeking later, Forfriends was born.</P>
		<hr>
			<h3>Who’s it for?</h3>
				<p>Since its beginning, Forfriends has been aimed at connecting anyone in need of a larger social network. This could be a recent college graduate who's just moved to a new city to start their career. It could be any reserved person who's always had trouble meeting people and putting themselves out there. Forfriends is for anyone who just wants to expand their social circle, meet a new friend, or find someone with the same random interest they have.</p>
		<hr>
			<h3>Getting Started</h3>
				<p> In progress, but <a href="/accounts/login/">click here</a> to get started</p>
</div>


{% endblock %}



