{% extends 'base.html' %}
{% block content %}
<script src="{{ STATIC_URL }}js/3dcarousel/FWDRoyal3DCarousel_uncompressed.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/3dcarousel/initiate.js" type="text/javascript"></script>
<div id="loading_gif">
<h1 id="loading_gif_header">One sec, we're putting together your new crowd...</h1>
<img id="loading" src="{{ STATIC_URL }}img/ajax-loader.gif" />
</div>
<div id="view_container">
<div class="row">
<div class="col-md-1" id="secondary_navbar">
<h1>My Crowd</h1>
</div>
{% if is_new_user == True %}
<h3 id="no_pictures">This is where you'll be able to find your crowd. Your crowd is comprised of people near you. Just answer 5 interests and 10 personality questions so you can start meeting people!
</h3>
{% else %}
<script>
FWDR3DCarUtils.onReady(function(){
var carousel = new FWDRoyal3DCarousel({
//required settings
carouselHolderDivId:"myDiv",
carouselDataListDivId:"carouselData",
displayType:"responsive",
autoScale:"yes",
carouselWidth:940,
carouselHeight:538,
skinPath:"{{ STATIC_URL }}img/minimal_classic_skin",
//main settings
backgroundColor:"none",
backgroundImagePath:"",
thumbnailsBackgroundImagePath:"",
scrollbarBackgroundImagePath:"",
backgroundRepeat:"repeat-x",
showDisplay2DAlways:"no",
carouselStartPosition:"center",
numberOfThumbnailsToDisplayLeftAndRight:4,
slideshowDelay:5000,
autoplay:"no",
showPrevButton:"yes",
showNextButton:"yes",
showSlideshowButton:"yes",
disableNextAndPrevButtonsOnMobile:"no",
controlsMaxWidth:940,
slideshowTimerColor:"#1FBAD6",
addKeyboardSupport:"yes",
//thumbnail settings
thumbnailWidth:420,
thumbnailHeight:286,
thumbnailSpaceOffset3D:-19,
thumbnailSpaceOffset2D:-19,
thumbnailBorderSize:10,
thumbnailBackgroundColor:"#666666",
thumbnailBorderColor1:"#fcfdfd",
thumbnailBorderColor2:"#e4e4e4",
transparentImages:"no",
maxNumberOfThumbnailsOnMobile:13,
showThumbnailsGradient:"yes",
showThumbnailsHtmlContent:"no",
textBackgroundColor:"white",
textBackgroundOpacity:.7,
showText:"yes",
showTextBackgroundImage:"yes",
showThumbnailBoxShadow:"yes",
thumbnailBoxShadowCss:"0px 2px 2px #1FBAD6",
showReflection:"yes",
reflectionHeight:60,
reflectionDistance:0,
reflectionOpacity:.2,
//scrollbar settings
showScrollbar:"no",
disableScrollbarOnMobile:"yes",
enableMouseWheelScroll:"yes",
scrollbarHandlerWidth:300,
scrollbarTextColorNormal:"#777777",
scrollbarTextColorSelected:"#000000",
//combobox settings
showComboBox:"no",
startAtCategory:1,
selectLabel:"SELECT CATEGORIES",
allCategoriesLabel:"All Categories",
showAllCategories:"yes",
comboBoxPosition:"topright",
selectorBackgroundNormalColor1:"#fcfdfd",
selectorBackgroundNormalColor2:"#e4e4e4",
selectorBackgroundSelectedColor1:"#a7a7a7",
selectorBackgroundSelectedColor2:"#8e8e8e",
selectorTextNormalColor:"#8b8b8b",
selectorTextSelectedColor:"#FFFFFF",
buttonBackgroundNormalColor1:"#e7e7e7",
buttonBackgroundNormalColor2:"#e7e7e7",
buttonBackgroundSelectedColor1:"#a7a7a7",
buttonBackgroundSelectedColor2:"#8e8e8e",
buttonTextNormalColor:"#000000",
buttonTextSelectedColor:"#FFFFFF",
comboBoxShadowColor:"#000000",
comboBoxHorizontalMargins:12,
comboBoxVerticalMargins:12,
comboBoxCornerRadius:0,
//lightbox settings
addLightBoxKeyboardSupport:"yes",
showLightBoxNextAndPrevButtons:"yes",
showLightBoxZoomButton:"yes",
showLightBoxInfoButton:"yes",
showLighBoxSlideShowButton:"yes",
showLightBoxInfoWindowByDefault:"no",
slideShowAutoPlay:"no",
lightBoxVideoAutoPlay:"no",
lightBoxVideoWidth:640,
lightBoxVideoHeight:480,
lightBoxIframeWidth:800,
lightBoxIframeHeight:600,
lightBoxBackgroundColor:"#000000",
lightBoxInfoWindowBackgroundColor:"#FFFFFF",
lightBoxItemBorderColor1:"#fcfdfd",
lightBoxItemBorderColor2:"#e4FFe4",
lightBoxItemBackgroundColor:"#333333",
lightBoxMainBackgroundOpacity:.8,
lightBoxInfoWindowBackgroundOpacity:.9,
lightBoxBorderSize:5,
lightBoxBorderRadius:0,
lightBoxSlideShowDelay:4000
});
})
</script>
<!--Buttons -->
<div class="col-md-1" id="button_navbar">
{% if can_they_reset == True %}
    <a id="generate_button" class="login_button" href='{% url "generate_circle" %}'>Find a new Crowd!</a>
    {% else %}
    <p class="reset_button"> {{ hours_until_reset }} hours </p>
    {% endif %}
    {% if can_reset_icebreaker == True %}
    <a class="login_button" id="ice_breaker_button">Do an icebreaker!</a>
    {% else %}
    <p class="reset_button"> {{ icebreaker_hours_until_reset }} hours </p>
{% endif %}
</div> <!-- End Buttons -->
{% for message in messages %}
<p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{% endfor %}
<div class="col-md-1" id="tertiary_navbar">
</div> <!-- Space Holder -->
</div> <!-- End Row -->
</div> <!-- End View profile container -->
<div id="loading_gif"><img id="loading" src="{{ STATIC_URL }}img/ajax-loader.gif" /></div>
<div id="myDiv"></div>
<!-- carousel data -->
<div id="carouselData">
<!-- image datalist category 1 -->
<ul data-cat="Category one" style="display:none">
{% for match in user_gamification.circle.all %}
{% if not request.user == match.user1 %}
<ul>
{% for pic in match.user1.userpicture_set.all %}
{% if forloop.first %}
<li data-type="link" data-url='/members/{{ match.user1.username}}' data-target="_self"></li>
<li class="thumbnail_carousel" data-thumbnail-path="{{ MEDIA_URL }}{{ pic }}"></li>
<li data-thumbnail-text="{{ match.user1.username }}" data-thumbnail-text-title-offset="70"
data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="20"><a href="/members/{{ match.user1.username}}"></a>
<p class="largeLabel">{{ match.user1.username }}</p>
<p class="smallLabel2"></p>
<p class="smallLabel2">
{% for item in match.user1.address_set.all %}
{% if forloop.first %} {{ item }}
{% endif %}
{% endfor %}
{% ifnotequal match.distance 10000000 %}
({{ match.distance }} miles away)
</p>
{% endifnotequal %}
<p class="smallLabel2" id="match_label">
{% if not request.user == single_user %}
		{% if match.percent >= 90 %}
		<p id="very_good">Excellent Match</p>
		{% elif match.percent >= 80 %}
		<p id="good">Very Good Match</p>
		{% elif match.percent >= 60 %}
		<p id="average">Good Match</p>
		{% elif match.percent >= 45 %}
		<p id="weak">Average Match</p>
		{% else %}
		<p id="very_weak">Weak Match</p>
		{% endif %}
{% endif %}
</p>
{% endif %}
{% endfor %}
{% if not match.user1.userpicture_set.all %}
{% if match.percent >= 90 %}
<h4 class="smallLabel2" id="very_good">Excellent Match</h4>
{% elif match.percent >= 80 %}
<h4 class="smallLabel2" id="good">Very Good Match</h4>
{% elif match.percent >= 60 %}
<h4 class="smallLabel2" id="average">Good Match</h4>
{% elif match.percent >= 45 %}
<h4 class="smallLabel2" id="weak">Average Match</h4>
{% else %}
<h4 class="smallLabel2" id="very_weak">Weak Match</h4>
{% endif %}
<li data-type="link" data-url='/members/{{ match.user1.username}}' data-target="_self"></li>
<li class="thumbnail_carousel" data-thumbnail-path='{{ STATIC_URL }}img/avatar.png'></li>
<li data-thumbnail-text="{{ match.user1.username }}" data-thumbnail-text-title-offset="70" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="7"><a href="/members/{{ match.user1.username}}"></a>
<p class="smallLabel2"></p>
<p class="largeLabel">{{ match.user1.username }}</p>
<p class="smallLabel2"></p>
<p class="smallLabel2">
{% for item in match.user1.address_set.all %}
{% if forloop.first %} {{ item }}
{% endif %}
{% endfor %}
{% ifnotequal match.distance 10000000 %}
({{ match.distance }} miles away)</p>
{% endifnotequal %}
<p class="smallLabel2" id="match_label">
{% if not request.user == single_user %}
		{% if match.percent >= 90 %}
		<p id="very_good">Excellent Match</p>
		{% elif match.percent >= 80 %}
		<p id="good">Very Good Match</p>
		{% elif match.percent >= 60 %}
		<p id="average">Good Match</p>
		{% elif match.percent >= 45 %}
		<p id="weak">Average Match</p>
		{% else %}
		<p id="very_weak">Weak Match</p>
		{% endif %}
{% endif %}
</p>
{% endif %}
<p class="mediaDescriptionHeader">{{ pic.caption }}</p>
</li>
</ul>
{% endif %}
{% if not request.user == match.user2 %}
<ul>
{% for pic in match.user2.userpicture_set.all %}
{% if forloop.first %}
<li data-type="link" data-url='/members/{{ match.user2.username}}' data-target="_self"></li>
<li class="thumbnail_carousel" data-thumbnail-path="{{ MEDIA_URL }}{{ pic }}"></li>
<li data-thumbnail-text="{{ match.user2.username }}" data-thumbnail-text-title-offset="70"
data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="20"><a href="/members/{{ match.user2.username}}"></a>
<p class="largeLabel">{{ match.user2.username }}</p>
<p class="smallLabel2">
{% for item in match.user2.address_set.all %}
{% if forloop.first %} {{ item }}
{% endif %}
{% endfor %}
{% ifnotequal match.distance 10000000 %}
({{ match.distance }} miles away)
</p>
{% endifnotequal %}
<p class="smallLabel2" id="match_label">
{% if not request.user == single_user %}
		{% if match.percent >= 90 %}
		<p id="very_good">Excellent Match</p>
		{% elif match.percent >= 80 %}
		<p id="good">Very Good Match</p>
		{% elif match.percent >= 60 %}
		<p id="average">Good Match</p>
		{% elif match.percent >= 45 %}
		<p id="weak">Average Match</p>
		{% else %}
		<p id="very_weak">Weak Match</p>
		{% endif %}
{% endif %}
</p>
{% endif %}
{% endfor %}
{% if not match.user2.userpicture_set.all %}
<p class="smallLabel2"></p>
<li data-type="link" data-url='/members/{{ match.user2.username}}' data-target="_self"></li>
<li class="thumbnail_carousel" data-thumbnail-path='{{ STATIC_URL }}img/avatar.png'></li>
<li data-thumbnail-text="{{ match.user2.username }}" data-thumbnail-text-title-offset="70" data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="20"><a href="/members/{{ match.user2.username}}"></a>
<p class="largeLabel">{{ match.user2.username }}</p>
<p class="smallLabel2">
{% for item in match.user2.address_set.all %}
{% if forloop.first %} {{ item }}
{% endif %}
{% endfor %}
{% ifnotequal match.distance 10000000 %}
({{ match.distance }} miles away)</p>
{% endifnotequal %}
<p class="smallLabel2" id="match_label">
{% if not request.user == single_user %}
		{% if match.percent >= 90 %}
		<p id="very_good">Excellent Match</p>
		{% elif match.percent >= 80 %}
		<p id="good">Very Good Match</p>
		{% elif match.percent >= 60 %}
		<p id="average">Good Match</p>
		{% elif match.percent >= 45 %}
		<p id="weak">Average Match</p>
		{% else %}
		<p id="very_weak">Weak Match</p>
		{% endif %}
{% endif %}
</p>
{% endif %}
<p class="smallLabel2"></p>
<p class="mediaDescriptionHeader">{{ pic.caption }}</p>
</li>
</ul>
{% endif %}
{% endfor %}
</ul>
</div>
<br/>
</div>
</div>
{% endif %}
<div class="modal fade" id="new_user_modal">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<h4 class="modal-title">This is your Crowd!</h4>
</div>
<div class="modal-body">
<p>Frenvu has matched you to some other users who we think you'd mesh pretty well with. You can search for a new crowd every 24 hours, but check out <a href="/discover/?page=1">Discover</a> if you want to meet more people now, or go ahead and add a <a href="/pictures">profile picture</a></p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<script src="{{ STATIC_URL }}js/cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/new_user_tutorial.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/profile_view.js"></script>
<script>
$('#ice_breaker_button').click(function(){
$(this).text("Ice Breaker Completed! Check your messages to see your match.");
$(this).attr('class', 'not_a_button');
$.get('{% url "ice_breaker" %}');
});
</script>
<script>
$('#generate_button').click(function(){
$(this).text("Your Crowd is being calculated...");
$(this).attr('class', 'not_a_button');
$.get('{% url "generate_circle" %}');
$('#loading_gif').show();
$('#view_container').hide();
$('#myDiv').hide();
});
</script>
<!--Animate Gif -->
<script>
$('#loading_gif_header').addClass('animated flash');
</script>
{% endblock %}