<link rel="stylesheet" href="/static/css/profile_view.css">
<link rel="stylesheet" href="/static/css/profile_home.css">
{% extends 'base.html' %}


{% block content %}

<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Members</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
	</div>
</div>

<div class="container" id="home-only">
  <div class='col-lg-10 col-12'>
{% if messages %}
<div class='row'>
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
</div>
{% endif %}

<br/>
	
	<div class='row'>
{% for match in matches %}
	{% if not request.user == match.matched %}
	<div class='col-sm-4'>
			{% for pic in match.matched.userpicture_set.all %}
				{% if forloop.first %}
					<a href='/members/{{ match.matched.username}}'><img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive'/></a>
				{% endif %}
			{% endfor %}
				{% if not match.matched.userpicture_set.all %}
					<a href='/members/{{ match.matched.username}}'><img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' /></a>
				{% endif %}
			
				{{ match.matched.username }}
			</a> <br/>
		{% for item in match.matched.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		<div class="matching">
		<p id="match">Match: {{ match.percent }}%	</p>
		<br/>
		</div>
		</div>
		{% endif %}
		{% cycle '' '' '' '' %}
{% endfor %}

</div>
<div class="scroll">
		<a href='/sort/'>Sort</a>
	</div>
</div>
<script src="/static/js/profile_view.js"></script>

</div>
{% endblock %}