{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">

{% block content %}
  <div class="row" id="contact_header">
      <br>
		<h3>Frenvu is a work in progress.</h3>
	        <p>So feel free to voice any opinion you have about the site.</p>
	</div>
    <div class="features">
      <h2>In the Works...</h2>
          <li>Live Chat</li>
          <li>Improved pictures interface</li>
          <li>Mobile redesign</li>
    </div><!--Features -->
    {% if messages %}
<div class='row'>
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class='contact_form_wrapper'>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" action='' method='POST'>
   		{% csrf_token %}
      <p class="text">
        <textarea name="message" class="validate[required,length[6,300]] feedback-input" id="comment"></textarea>
      </p>
      <div class="submit">
        <input type="submit" value="Contact Us" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div><!--Form Div-->
</div><!--Form Main-->
</div>
</div><!--Wrapper -->
{% endblock %}
