{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">

{% block content %}
<div class='contact_form_wrapper'>
		<div class="row">
      <br>
		<h3>Frenvu is a work in progress.</h3>
	        <p>So, feel free to voice any opinion you have about the site. We'll read and reply to every inquiry and recommendation concering the site as we build up the Frenvu community.</p>
	  </div>
    {% if messages %}
<div class='row'>
  <ul class="messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" action='' method='POST'>
   		{% csrf_token %}
      <p class="text">
        <textarea name="message" class="validate[required,length[6,300]] feedback-input" id="comment"></textarea>
      </p>
      <div class="submit">
        <input type="submit" value="Contact Us" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div><!--Form Div-->
</div><!--Form Main-->
<div class="features">
  <h2>In the Works...</h2>
      <li>Live Chat</li>
      <li>An improved pictures interface</li>
      <li>Mobile site redesign</li>
</div><!--Features -->
</div>
</div><!--Wrapper -->
{% endblock %}