<DOCTYPE HTML>
{% extends 'base.html' %}
{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Friends List</title>

<link rel="stylesheet" type="text/css" href="static/css/friends.css">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<link rel="stylesheet" href="static/css/sidebar.css">

</head>

<body>
<!--List Body-->
  {% include 'navbar.html' %}
  {% include 'sidebar.html' %}
  <div>
    <ul>
      <li>
        <img src="http://lorempixum.com/100/100/nature/1">
        <h3>Name of Friend</h3>
        <p> Percentage Match </p>
        <p>Lorem ipsum dolor sit amet...</p>
      </li>
         
      <li>
        <img src="http://lorempixum.com/100/100/nature/2">
        <h3>Name of Friend</h3>
        <p> Percentage Match </p>
        <p>Lorem ipsum dolor sit amet...</p>
      </li>
   
      <li>
        <img src="http://lorempixum.com/100/100/nature/3">
        <h3>Name of Friend</h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <p> Percentage Match </p>
      </li>
   
      <li>
        <img src="http://lorempixum.com/100/100/nature/4">
        <h3>Headline</h3>
        <p>Lorem ipsum dolor sit amet...</p>
      </li>
    </ul>
    {% include 'footer.html' %}

  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="registration.js"></script>
  <script src="static/js/bootstrap.js" type="text/javascript"></script>
  {% endblock %}
</body>
</html>
</body>
