{% if request.user.is_authenticated %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="navbar-container">
    <div class="navbar-header">
      
      <a class="navbar-brand"  data-variation=".left"><img id="menu_icon" src="{{ STATIC_URL }}img/menu_icon.png"></a>
      
      <form class="navbar-form navbar-left" role="search" action='{% url "search" %}'>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search users..." name='q' required>
          <button type="submit" class="btn btn-default" id="go_button">Search</button>
        </div>
      </form>
      <form class="navbar-form navbar-left" id="navbar_mobile" role="search" action='{% url "search" %}'>
        <div class="form-mobile">
          <input type="text" class="input_mobile" placeholder="Search..." name='q' required>
          <button type="submit" class="btn-mobile" id="go_button"><span class='glyphicon glyphicon-search'></span></button>
        </div>
      </form>
      <ul class='nav navbar-nav pull-right'>
        <li class="inbox">
          <a href='{% url "inbox" %}' title="Inbox" class="sidebar-tool" id="messages_sidebar">
          <span class='glyphicon glyphicon-envelope'></span>
            {% if not request.session.num_of_messages == 0 %} 
          <span class="badge pull-right" id="messages_badge"> {{ request.session.num_of_messages }}</span>
            {% endif %}
          </a>
        </li>
      <li class="logout">
          <a href='{% url "logout_user" %}'>Logout</a>
        </li> 

      {% else %}
      <style>
      body{
        padding-top:0px!important;
      }
      </style>
        <div class="press_navbar">
        <div class="press_brand">
           <span>Frenvu</span>
        </div>
        <div class="press_right">
          <div class="fb-like" data-href="https://www.facebook.com/frenvu" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>
        </div>
      {% endif %}
  </div>
</div>  
</div>