<!DOCTYPE html>
<html>
  <head>
  <title>Forfriends Pictures</title>
  <link rel="stylesheet" type="text/css" href="static/css/pictures.css"/>
  </head>
  <body>
    <div class="header">
    <div class="navigation">
      <ul class="nav">
        <li>
          <a href="#">4 FRIENDS</a>

          <ul>
            <li><a href="profile_home">Home</a></li>

            <li><a href="#">Contact Us</a></li>

            <li><a href="#">Help</a></li>

            <li><a href="#">Log-out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <a href="#n" id="n">
      <a href="#img1"><img id="img1" src="http://farm5.static.flickr.com/4103/5213166214_d6b136586c_b.jpg" width="200" height="150" title="Some caption"></a>
      <a href="#img2"><img id="img2" src="http://farm6.static.flickr.com/5281/5216852563_eca0af1b0d_b.jpg" width="200" height="150" title="Another title"></a>
    </a>
  </div>
   </body>
</html>