<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

  <title>ForFriends Profile</title><!-- Body CSS -->
  <link rel="stylesheet" href="static/css/profile_view.css">
  <link rel="stylesheet" href="static/css/sidebar.css" rel="stylesheet">
  <link rel="stylesheet" media="all" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
  <script src="/static/js/profile_view.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.js" type="text/javascript"></script>
</head>

<body>
  {% include 'navbar.html' %}
  {% include 'sidebar.html' %}
  <!--Fun Button -->
  <div class="left">
  <h1 id="name">Johnny Appleseed</h1>
    <div class="pic">
      <a href="#"><img src="static/img/white_girl.jpg" width="300" /></a>
    </div>
  </div>

  <div class="pictures">
    <h4>Pictures</h4>

    <ul>
      <li style="list-style: none">{% for picture in picture_list %}</li>

      <li>{{ picture.name }}</li>

      <li style="list-style: none">{% empty %}</li>

      <li>No available pictures.</li>

      <li style="list-style: none">{% endfor %}</li>
    </ul>
  </div>

  <div class="right">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Interests</a></li>
        <li><a href="#tabs-2">Friends</a></li>
        <li><a href="#tabs-3">About Me</a></li>
      </ul>

      <div id="tabs-1">
        <div class="Interests">
          {% for interests in interest_list %}

          <p>{{ interest.name }}</p>{% empty %}

          <p>Coding</p>
          <p> Discussing Politics </p>
          {% endfor %}
        </div>
      </div>

      <div id="tabs-2">
        <div class="boxy">
          <div class="friend">
            {% for friend in friend_list %}

            <p>{{ friend.name }}</p><span><a href="#friendslist">See all...</a></span> {%empty %}

            <p>You have no friends</p>{% endfor %}
          </div>
        </div>
      </div>

      <div id="tabs-3">
        <p>Undergraduate at Cornell University, very interested in entrepreneurship,
        politics, technology and how they can all possibly go together. The world needs to
        take a lot of steps forward, and I'd like to contribute to these movements, however
        small they may be.</p>
      </div>

    </div>
  </div>
  <button type="input" class="myButton">Add Friend!</button> 
  {% include 'footer.html' %}

</body>
</html>

