<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

  <title>ForFriends Profile</title><!-- Body CSS -->
  <link rel="stylesheet" href="static/css/profile_view.css">
  <link rel="stylesheet" href="static/css/sidebar.css">
  <link rel="stylesheet" media="all" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <!--Javascript-->
</head>

<body>
  {% include 'navbar.html' %}
  <div style: padding-bottom:"20px";></div>
  {% include 'sidebar.html' %}

  <h1 id="name">User Name</h1>

  <div class="left">
    <div class="pic">
      <figure>
      <a href="#"><img src="static/img/white_girl.jpg" width="100%"></a>
      <figcaption class="caption"><a href="#">Change profile Picture</a></figcaption>
      </figure>
    </div>
  </div>

  <div class="pictures">
    <h4>Pictures</h4>

    <ul>
      <li style="list-style: none">{% for picture in picture_list %}</li>

      <li>{{ picture.name }}</li>

      <li style="list-style: none">{% empty %}</li>

      <li>No available pictures.</li>

      <li style="list-style: none">{% endfor %}</li>
    </ul>
  </div>
  {% include 'footer.html' %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"type="text/javascript"></script>
  <script src="static/js/profile_view.js" type="text/javascript"></script>
  <script src="static/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>

