{% extends "base.html" %}

<head><link href="{{ STATIC_URL }}css/friends.css" rel="stylesheet"></head>




{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Users</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	<a href="#">Sort by Match %</a>
     	<a href="#">Random</a>
	</div>
</div>
<h3>{{ query }}</h3>
<br/>
<div class="container">
  <div class='col-lg-10 col-12'>

<ol>
{% for user in results %}
<div id="myfriend">
	{% if not request.user == user %}
	<div class='col-md-4'>
	<a href='/members/{{ user.username}}'>
		{% for pic in user.userpicture_set.all %}
			
			{% if forloop.first %}
			<img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive' />
			{% endif %}
		{% endfor %}
		{% if not user.userpicture_set.all %}
			<img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' />
		{% endif %}
			
		{{ user }}
		</a> <br/>
		{% for item in user.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		<div class="matching">
		{% if not request.user == user %}<p id="match">Match: {{ user.percent }}%	</p>{% endif %}
			</div>
		<br/>
		</div>
		</div>
		{% endif %}
		{% cycle '' '' '' '</div><div class="row">' %}
{% endfor %}
</div>
</div>

{% endblock %}