<head><link href="/static/css/profile_view.css" rel="stylesheet"></head>

{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Members</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	<a href="#">Sort by Match %</a>
     	<a href="#">Random</a>
	</div>
</div>
<h3>{{ query }}</h3>
<div class="container" id="home-only">
  <div class='col-lg-10 col-12'>
{% if messages %}
<div class='row'>
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
</div>
{% endif %}

<div class="row">
{% for user in results %}
	{% if not request.user == user %}
	<div class='col-sm-4'>
	<a href='/members/{{ user.username}}'>
		{% for pic in user.userpicture_set.all %}
			
			{% if forloop.first %}
			<img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive' />
			{% endif %}
		{% endfor %}
		{% if not user.userpicture_set.all %}
			<img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' />
		{% endif %}
			
		{{ user }}
		</a> <br/>
		{% for item in user.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		<div class="matching">
		{% if not request.user == user %}<p id="match">Match: {{ user.percent }}%	</p>{% endif %}
			</div>
		<br/>
		</div>
		
		{% endif %}
		{% cycle '' '' '' '' %}
{% endfor %}
</div>
</div>
</div>

{% endblock %}