<body>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
            <li class="sidebar-brand"></a>
            </li>
            <li><a href="#">My Friends</a>
            </li>
            <li><a href="#">Pictures</a>
            </li>
            <li><a href="#">Find Friends</a>
            </li>
            <li><a href="#">Events</a>
            </li>
            <li><a href="#">Interests</a>
            </li>
            <li><a href="#">Services</a>
            </li>
            <li><a href="#">Contact</a>
        </li>
    </ul>
</div>

    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>