<div class="ui thin sidebar">
      {% if request.user.is_authenticated %}
          <div id="leftbar-wrapper">
            <ul class="sidebar-nav">
              <li>
                <a href='/'  class="sidebar-tool" id="home_sidebar"><span class='glyphicon glyphicon-refresh' ></span>My Circle</a>
              </li> 
              <li>
                <a href="{% if request.user.is_authenticated %}{% url "profile" request.user.username %} {% endif %}"  class="sidebar-tool" id="My_profile_sidebar"><span class='glyphicon glyphicon-home' ></span>My Profile</a>
              </li> 
              <li>
                <a href='/sort/'  class="sidebar-tool"><span class='glyphicon glyphicon-user' id="find_friends_sidebar"></span>Discover</a>
              </li>
              <li>
                <a href='{% url "interests" %}'  class="sidebar-tool"><span class='glyphicon glyphicon-thumbs-up' id="interests_sidebar"></span>Interests</a>
              </li>
              <li>
                <a href='{% url "questions" %}'  class="sidebar-tool"><span class='glyphicon glyphicon-question-sign' id="questions_sidebar"></span>Personality</a>
              </li>
              <li>
                <a href='/pictures'  class="sidebar-tool"><span class='glyphicon glyphicon-camera ' id="pictures_sidebar"></span>Pictures</a>
              </li> 
              <li>
                <a href="/edit" class="sidebar-tool" id="settings_tool"><span class="glyphicon glyphicon-cog" id="settings_sidebar"></span>Settings</a>
              </li>
              <li class="mobile_fix">
                <p> Congratulations, you've found the secret message! This doesn't mean anything. </p>
              </li>
          </ul>
          </div>
          

        </div>
        {% endif %}
      </div>

    <script>
      $(".messages_all").mouseover(function(){
        $(".sub_messages").show();
      });
      $(".messages_all").mouseout(function() {
        $(".sub_messages").hide();
      });
      //$(".interests_all").mouseover(function(){
      //  $(".create_interest").show();
      //});
      //$(".interests_all").mouseout(function() {
      //  $(".create_interest").hide();
      //});
    </script>
    <script>
        $(".ui.thin.sidebar").first()
        .sidebar({overlay: true})
        .sidebar('attach events', '.navbar-brand');

        $('.navbar-brand')
          .removeClass('disabled');
    </script>
