<head>
	<link rel="stylesheet" href="/static/css/profile_view.css">
</head>
{% extends 'base.html' %}

{% block content %}


	<div class = 'row'>
	<div class='col-lg-6'>

<h1>{% if single_user.first_name %} {{ single_user.first_name }} {% else %} {{ single_user }} {% endif %}</h1>


{% for pic in single_user.userpicture_set.all %}
	{% if forloop.first %}
		<img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive' />
	{% endif %}
{% endfor %}
{% if not single_user.userpicture_set.all %}
	<img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' />
{% endif %}

</div> 
	<div class='col-lg-6'>
	{% if not request.user == single_user %}<h1>Match {{ match }}%	</h1>{% endif %}
		<h1>Info</h1>
		<div class='panel panel-default'>
		<div class='panel-heading'>Bio</div>
		<div class="panel-body">
		{% for item in single_user.info_set.all %}
			{% if forloop.first %}
				{{ item.bio }}
			{% endif %}
		{% endfor %}
		</div>
		</div>
	<div class='panel panel-default'>
		<div class='panel-heading'>Occupation</div>
		<div class="panel-body">
		{% for item in single_user.job_set.all %} 
			{{ item.position|title }} at {{ item.employer|title }}
		{% endfor %}
	</div>
	</div>

	<div class='panel panel-default'>
		<div class='panel-heading'>Addresses</div>
		<div class="panel-body">
		{% for item in single_user.address_set.all %}
				{{ item.city|title }}, {{ item.state|upper }}
		{% endfor %}
	</div>
	</div>
	</div>
	</div>
{% endblock %}
