#features{
	text-align: center;
}

.hidden2{
	opacity:0;
}
.visible2{
	opacity:1;
}

#bottom_buttons{
	padding-top:25px!important;
	padding-bottom:25px!important;
	height:150px!important;
}

.post{
	text-align: center;
	width:100%;
	min-height:300px;
	vertical-align: middle;
}
.call_link{
  margin-top:50px;
  color:white;
  font-size: 18px;
}
.call_link a{
	color:#1fbad6;
}
.call_link a:hover{
	opacity: .8;
}
.post h2{
	width:50%;
	margin:0px auto;
	color: white!important;
	vertical-align: middle;
	padding-top:120px;
	padding-left:5px;
	padding-right:5px;
	font-size:40px;
}
.post h1{
	color: white;
	font-size:48px;
}

.login_button{
	background-color: white;
	transition: background-color 0.5s ease 0s;
	margin: 15px 10px 15px 10px;
	padding-top: 0px;
	border: 5px solid #1FBAD6;
	color: #1FBAD6;
	text-align: center;
	height: 60px;
	width: 150px;
	text-decoration: none;
	outline: medium none;
	display: inline-block;
	border-radius: 25px;
	cursor: pointer;
	font-size:18px;
	font-weight:500;
}

.login_button:hover{
	background-color: #1FBAD6;
	transition: background-color 0.5s ease 0s;
	color: white;
}
.button_holder{
	width:100%;
	height:400px;
	text-align: center;
	padding-bottom:50px;
	padding-top:50px;
}
#reasons h2{
	padding-top:60px!important;
	color:#1fbad6!important;
	font-size:32px!important;
	width:100%!important;
}
#reasons p{
	font-size:24px;
	margin-top:50px;
}
#final_words h2{
	color:black!important;
	width:80%!important;
	padding-top:20px!important;
}
#final_words p{
	color:black!important;
}
#final_words .call_link{
	margin-top:0px!important;
	margin-bottom:50px!important;
}

@media only screen and (max-width:450px){
	.post h2{
		width:100%;
	}
	#bottom_buttons .login_button{
	width:120px!important;
	}
}

@media only screen and (max-width:560px){
	.post h2 {
		font-size:24px!important;
		width: 80%;
	}
	#bottom_buttons{
		height: 120px!important;
	}
}

@media only screen and (max-width:750px){
	.post h2{
		width:80%;
	}
}