#register.col-xs-6{
	width:100%!important;
}
.modal-body{
	padding:0px!important;
}
.modal_content{
	width:100%;
	height:400px;
}
.sign_up_div input{
	width:200px!important;
}

#registration_button{
	width:200px!important;
}

#contactform{
	text-align:center;
	margin: 10px auto 20px;
	border-radius: 3px;
	padding-top: 10px;
	background-color:white;
	opacity:1!important;

}

#registration_button{
  border-radius:2px;
  margin-top:8px;
  padding:0px 0px 0px 0px!important;
  border: 1px solid;
}
#registration_button:focus, #registration_button:hover{
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;

}

.modal-body .sign_up_div{
	width:100%;
	border-top:none!important;
	color: #1FBAD6;
}
#contactform input[type="email"]{
	margin-bottom:11px;
}
#contactform h4{
	color:black;
}
#social_logins p{
	margin: 0px 0px 0px!important;
}

.modal-footer{
	border-bottom: none;
	border-radius:5px;

}

.modal-content{
	padding-bottom:25px;
	border-bottom:none;
}

/*login */
#login{
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.login {
  text-align: center;
  margin: 25px auto 0px;
  padding: 20px 20px 20px;
  width: 100%;
  max-width: 350px;
  background: white;
  border-radius: 3px;
  opacity: .8;
  border-bottom: 1px solid #1fbad6;
  border-left:1px solid  #1fbad6;
  border-right: 1px solid  #1fbad6;
  margin-bottom: 30px; 
}

.signup {
  text-align: center;
  margin: 15px auto 0px;
  padding: 1px 20px 0px 20px;
  width: 100%;
  max-width: 350px;
  background: white;
  border-radius: 3px;
  opacity: .8;
  border-bottom: 1px solid #1fbad6;
  border-left:1px solid  #1fbad6;
  border-right: 1px solid  #1fbad6;
  margin-bottom: 30px;
}
.signup:focus, .signup:hover{
  opacity:.9;
}
.signup:before {
  content: '';
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.signup h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  color: black;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid black;
  border-top: 1px solid #1fbad6;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.signup p {
  margin: 5px 0 0;
  display:inline-block;

}

.login:focus, .login:hover{
  opacity:.9;
}
.login:before {
  content: '';
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 18px;
  color: black;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-top: 1px solid #1fbad6;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
  font-weight: 300;
}
.login p {
  margin: 5px 0 0;
  display:inline-block;
}

.modal-title{
	display:none;
}
.modal-header{
	border:none;
}
#un{
	margin-top:-10px;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width:100%;
  display: block;
}
.login p.remember_me {
  float: left;
  line-height: 14px;
  width:100px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

#login_modal #google_login{
	margin-top:30px;
	margin-bottom:15px;
}

.close{
	font-size:32px!important;
	margin-right:10px;
	font-family:roboto;
	font-weight:300;
}

.close:hover, .close:focus, .close:active{
	color:#1fbad6!important;
}

@media (max-width:777px){
	.modal-body .sign_up_div{
	width:100%!important;
	border-top:none!important;
	
	}
	#register.col-xs-6{
	width:80%!important;
	padding:0px 10px 0px 10px;
	margin:0 auto;
	clear:both!important;
	float:none!important;
	border-bottom:none!important;
	}
	#contactform input{
	margin-bottom:11px;
	display:block;
	width:100%!important;
	}
	#login{
		width:100%;
		border-bottom:none;
	}
	 #login_modal #fb_login{
	margin-bottom:10px;
	margin-top:15px;
	}
	#login_modal #google_login{
	margin-top:10px;
	margin-bottom:15px;
	}
	.modal_content{
	width:100%;
	height:500px;
	}
}

@media (max-width:615px){
	#login_modal #fb_login p{
		font-size:24px;
	}
	#login_modal #google_login p{
		font-size:24px;
	}

}

@media (max-width:425px){
	#social_logins #fb_login p{
		font-size:18px;
	}
	#social_logins #google_login p{
		font-size:18px;
	}
	.modal_content{
	width:100%;
	border-bottom:2px solid black;
	height:580px!important;
	}

}

@media (max-width: 625px){
	.modal_content{
		height:400px!important;
	}
}