.sign_up_div{
	width:100%;
	text-align: center;
	border-top: 2px solid black;
}

.sign_up_div h2{
	color:black;
	margin:0 auto;
	padding:10px 0px 10px 0px;
}

#social_logins{
	margin: 0 auto;
	width:100%;
	text-align: center;
	padding-bottom:10px;
	padding-top:0px;
}

#fb_icon{
	background-image: url(/static/img/social_icons/fb_logo.png);
	width:40px;
	height:40px;
	background-size:cover;
	float:left;
}
#social_logins a{
	display:inline-block;
}

#first_h2{
	padding-top: 20px!important;
}

#second_h2{
	padding-top: 60px;
}

#fb_login{
	width:150px;
	border-radius: 4px;
	background-color: #3b5998;
	color:white;
	border-color:white;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #3b5998;
}

#twitter_icon{
	background-image: url(/static/img/social_icons/twittericon.jpeg);
	width:75px;
	height:70px;
	background-size:cover;
	float:left;

}

#twitter_login{
	height:75px;
	border: 2px solid black;
	border-radius: 4px;
}

#email_icon{
	background-image: url(/static/img/social_icons/frenvu_icon_small_white.jpg);
	width:75px;
	height:71px;
	background-size:cover;
	float:left;
}

#email_login, #email_login2{
	width:150px;
	height:75px;
	border-radius: 4px;
	background-color: #1FBAD6;
	color:white;
	border-color:white;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
}

#email_login:hover, #email_login2:hover, #google_login:hover, #fb_login:hover, #twitter_login:hover{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
}

@media only screen and (max-width:620px){
	#email_login, #email_login2, #google_login, #fb_login, #twitter_login{
	width:80%!important;
	}
}
