{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col-md-1" id="secondary_navbar">
	    <h1>Discover</h1>
	</div>
    <div class="container" id="single_user_container">
	{% if messages %}
    {% for message in messages %}
    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
	</div>
</div>
{% endif %}
<div class='row' id="interests-wrapper">
	<div class="main_interests" id="main_interests">
	<h2 id="name_of_user">{{ single_user.username }}</h2>
	<div id="new_user_body">    
		{% if profile_pic %}
				<img src='{{ MEDIA_URL }}{{ profile_pic }}' class='img' id="myfriend"/>		

		{% elif single_user.userpicture_set.all %}
			{% for pic in single_user.userpicture_set.all %}
					{% if forloop.first %}
						<img src='{{ MEDIA_URL }}{{ pic }}' class='img' id="myfriend"/>
					{% endif %}
			{% endfor %}

		{% else %}

		<img src='{{ STATIC_URL }}img/avatar.png' class='img' id="myfriend"/>
		{% endif %}
	</div>	

	{% if users.has_previous %}
			<div class="previous_user"><a href="?page={{ users.previous_page_number }}"><span class='glyphicon glyphicon-arrow-left'></span></a></div>
		{% else %}
			<div class="previous_user_hidden"><a href=""><span class='glyphicon glyphicon-arrow-left'></span></a></div>
		{% endif %}
		{% if users.has_next %}
			<div class="next_user" id="next_user"><a href="?page={{ users.next_page_number }}"><span class='glyphicon glyphicon-arrow-right'></span></a>
			</div>
		{% else %}
			<div class="next_user_hidden"><a href=""><span class='glyphicon glyphicon-arrow-right'></a></span></div>
		{% endif %}
		{% if not request.user == single_user %}
			{% if single_user_is_new %}
			<h4 id="average">New User</h4>
			{% elif match.percent >= 90 %}
			<h4 id="average">Excellent Match</h4>
			{% elif match.percent >= 75 %}
			<h4 id="good">Very Good Match</h4>
			{% elif match.percent >= 60 %}
			<h4 id="average">Good Match</h4>
			{% elif match.percent >= 45 %}
			<h4 id="weak">Average Match</h4>
			{% else %}
			<h4 id="very_weak">Weak Match</h4>
			{% endif %}
	{% endif %}
	<h4 id="location">{% for item in single_user.address_set.all %}
		{{ item.city|title }}, {% if item.state|length == 2 %} {{ item.state|upper }} {% else %} {{ item.state|capfirst }} {% endif %}
		{% endfor %}
		{% ifnotequal match.distance 10000000 %}
		({{ match.distance|floatformat:"0" }} miles away)
		{% endifnotequal %}
	</h4>
	<br>
	{% if not request.user == single_user %}
	<div class="row" id="buttons_row">
		<div class="buttons">	
			{% if match.user1_approved == True and match.user2_approved == True %}
			<a  class="btn btn-default btn" id="friend_button" title="You are friends!"><p>Friends</p></a>
			<a class="btn btn-default btn" id="message_button" data-toggle="tooltip" data-placement="top" href='{% url "su_compose" match.user1.username %}'><p>Send Message</p></a>
			{% elif match.user1_approved == True and match.user1 == request.user %}
			<a class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
			<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
			{% elif match.user2_approved == True and match.user2 == request.user %}
			<a class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
			<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
			{% else %}
			<a class="btn btn-default btn" id="friend_button"><p id="add_me">Add Friend</p></a>
			<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
			{% endif %}
			<a class="btn btn-default btn" id="pictures_button" href="/members/{{ single_user.username}}/pictures/"><p>Browse Pictures</p></a>
		</div>
		
		{% endif %}
		<div id="information">
        <div class='panel panel-default'>
            <div class='panel-heading' id='bio_panel'>
                <p>{% if not request.user == single_user %} {{ single_user.username }} in a sentence {% else %} Me in a
                sentence {% endif %}</p>
                <p id='info_edit'></p>
            </div>
            <div class='panel-body' id='bio_body'>
                {% for item in single_user.info_set.all %}{% if forloop.first %}{{item.bio}}{% endif %}{% endfor %}
            </div>
        </div>
         <div class='panel panel-default'>
            <div class='panel-heading' id='occ_panel'>
                <p>Occupation</p>
            </div>
            <div class='panel-body' id='occ_body'>
                {% for item in single_user.job_set.all %}{{item.position|title}} at
            {{item.employer|title}}{% endfor %}
            </div>
        </div>
        <div class='panel panel-default'>
            <div class='panel-heading' id='occ_panel'>
                <p>Interests</p>
            </div>
            <div class='panel-body' id='occ_body'>
               {% for interest in interests_all %}
			<p>{{ interest.interest }},</p>
				{% endfor %}
            </div>
    	</div><!--End Panel -->
	</div><!--End info-->
		</div>
	</div>

<script>
$('#bio_panel').click(function() {
	$('#bio_body').slideToggle("fast");
});

$('#occ_panel').click(function() {
	$('#occ_body').slideToggle("fast");
});
</script>

{% if users.has_next %}

<script>
	$(document).keydown(function(e) {
    switch(e.which) {
        case 39: // right
        window.location = "?page={{ users.next_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

<script>
$(function() {
    $("#myfriend").swipe({
        swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
            window.location.href =
                "?page={{ users.next_page_number }}";
        }
    });
});

</script>
{% endif %}
<script>
$(function(){
	$("#myfriend").swipe({
		swipe:function(event, direction, distance, duration, fingerCount,fingerData){
			window.location.href = "";
		}
	});
});

</script>

<script>
$('#friend_button').click(function(){
	$('#add_me').text("Request Sent");
	$.get('{% url "add_friend" single_user.username %}');	
});
</script>

{% endblock %}