 	{% extends 'base.html' %}
{% block content %}

<div class="row" id="discover_row">
    <div class="container" id="single_user_container">
	{% if messages %}
    {% for message in messages %}
    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
	</div>
</div>
{% endif %}
	<div class="user_card" id="user_card">
	<h2 id="name_of_user">{{ single_user.username }}</h2>
		<div id="new_user_body">    
			{% if profile_pic %}
					<a href="/members/{{ single_user.username}}/pictures/">
					<img src='{{ MEDIA_URL }}{{ profile_pic }}' class='img' id="myfriend"/></a>
			{% elif single_user.userpicture_set.all %}
				{% for pic in single_user.userpicture_set.all %}
						{% if forloop.first %}
						<a href="/members/{{ single_user.username}}/pictures/">
						<img src='{{ MEDIA_URL }}{{ pic }}' class='img' id="myfriend"/>
						</a>
						{% endif %}
				{% endfor %}
			{% else %}
			<a href="/members/{{ single_user.username}}/pictures/">
			<img src='{{ STATIC_URL }}img/avatar.png' class='img' id="myfriend"/>
			</a>
			{% endif %}
		</div>	
		{% if not request.user == single_user %}
			{% if single_user_is_new %}
			<h4 id="average">New User</h4>
			{% elif match.percent >= 90 %}
			<h4 id="average">Excellent Match</h4>
			{% elif match.percent >= 80 %}
			<h4 id="good">Very Good Match</h4>
			{% elif match.percent >= 70 %}
			<h4 id="average">Good Match</h4>
			{% elif match.percent >= 55 %}
			<h4 id="weak">Average Match</h4>
			{% else %}
			<h4 id="very_weak">Weak Match</h4>
			{% endif %}
		{% endif %}
		<h4 id="location">
			{% for item in single_user.address_set.all %}
			{{ item.city|title }}, {% if item.state|length == 2 %} {{ item.state|upper }} {% else %} {{ item.state|capfirst }} {% endif %}
			{% endfor %}
		</h4>
		<div id="information">
	        {% if info.bio %} 
		        <span> {% for item in single_user.info_set.all %}{% if forloop.first %}{{item.bio}}{% endif %}{% endfor %}</span>
		        {% else %}
		        {% endif %}

		        {% if not request.user == single_user %}
		        <br>
		        <!--Interests-->
		        {% if interests %}
		        <span class="common_interests">
		        {% for interest in interests %} Likes  {{ interest }} |
				{% endfor %}
				</span>
	    	{% else %}
	    	{% endif %}
	    	<!--End Interests-->
	    	{% endif %}
		</div><!--End info-->
		{% if not request.user == single_user %}
		<div class="row" id="buttons_row">
			<div class="buttons" id="discover_buttons">	
				{% if match.user1_approved == True and match.user2_approved == True %}
				<a  class="btn btn-default btn" id="friend_button" title="You are friends!"><p>Friends!</p></a>
				{% elif match.user1_approved == True and match.user1 == request.user %}
				<a class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
				{% elif match.user2_approved == True and match.user2 == request.user %}
				<a class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
				{% else %}
				<span id="outer_button">
				<a class="btn btn-default btn" id="friend_button"><p id="add_me">Add Friend</p></a>
				</span>
				{% endif %}
				<div id="outer_button">
					{% if users.has_next %}
					<a class="btn btn-default btn" id="skip_button" href="?page={{ users.next_page_number }}"><p>Skip</p></a>
					{% else %}
					<a class="btn btn-default btn" id="skip_button" href="{% url 'reset_discover' %}"><p>Skip</p></a>
					{% endif %}
				</div>
			</div>
		</div><!--End Buttons Row-->
	</div><!--End Card-->
	<div class="invisible" id="swipe_left">Swipe for your next match!</div>
		{% endif %}
		</div>
	</div>
<script>
$('#bio_panel').click(function() {
	$('#bio_body').slideToggle("fast");
});

$('#occ_panel').click(function() {
	$('#occ_body').slideToggle("fast");
});
</script>

{% if users.has_next %}

<script>
	$(document).keydown(function(e) {
    switch(e.which) {
        case 39: // right
        window.location = "?page={{ users.next_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
	});
</script>

<script>
$(function() {
    $("#user_card").swipe({
        swipeLeft:function(event, direction, distance, duration, fingerCount, fingerData) {
            window.location.href =
                "?page={{ users.next_page_number }}";
        }
    });
});

</script>
{% else %}
{% endif %}
<script>
$('#friend_button').click(function(){
	$('#add_me').text("Request Sent");
	$.get('{% url "add_friend" single_user.username %}');	
});
</script>

<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	$('#swipe_left').addClass('animated lightSpeedIn'); 	
};
</script>

{% endblock %}