<link href="{{ STATIC_URL }}css/edit_profile.css" rel="stylesheet">
{% extends 'base.html' %}

{% block jquery %}
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-1" id="secondary_navbar">
        <h1>Edit Profile</h1>
        <h2><a href='{% url "delete_account" %}'>Delete Account</a></h2>
  </div>
</div>



  <div class='col-lg-10 col-12'>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home" data-toggle="tab">Pictures</a></li>
    <li><a href="#jobs" data-toggle="tab">Occupation</a></li>
    <li><a href="#locations" data-toggle="tab">Location</a></li>
    <li><a href="#info" data-toggle="tab">Info</a></li>
  </ul>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" id="home">
    	<form method='POST' action='/edit/pictures/' enctype="multipart/form-data"> {% csrf_token %}
    	<div class='row'>
    		<div class='col-lg-12'>
      {{ formset_p.management_form }}
  		{{ formset_p.as_p }}
      <div class="more_pictures">
        <a href="#" id="pictures_appear">Add Picture</a>
        <div id="more_pictures_appear">
        {{ formset_p.management_form }}
      {{ formset_p.as_p }}
        </div>
      </div>
  		</div>
  	</div>
  	<input class='btn btn-success' type='submit' value='Update' />
  	</form>
    </div>
    <div class="tab-pane" id="jobs">
    	<div class='row'>
    		<div class='col-lg-12'>
    			<form method='POST' action='/edit/jobs'> {% csrf_token %}
          {{ formset_a.management_form }}
  			  {{ formset_j.as_p }}
  			<input class='btn btn-success' type='submit' value='Update' />
  			</form>
  		</div>
  	</div>
    </div>
    <div class="tab-pane" id="locations">
    	<div class='row'>
    		<div class='col-lg-12'>
    			<form method='POST' action='/edit/addresses/'> {% csrf_token %}
            {{ formset_a.management_form }}
  			    {{ formset_a.as_p }}
  			<input class='btn btn-success' type='submit' value='Update' />
  			</form>
  		</div>
  	</div>
    </div>
    <div class="tab-pane" id="info">
      <div class='row'>
        <div class='col-lg-12'>
          <form method='POST' action='/edit/info/'> {% csrf_token %}
            {{ formset_i.management_form }}
            {{ formset_i.as_p }}
        <input class='btn btn-success' type='submit' value='Update' />
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>





{% endblock %}