{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/edit_profile.css" rel="stylesheet">


{% block jquery %}
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-1" id="secondary_navbar">
        <h1>Edit Profile</h1>
  </div>
</div>



  <div class='col-lg-10 col-12'>
{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p  id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}

<div class="container" id="edit_profile_container">
  <div class="edit_profile_wrapper">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#home" data-toggle="tab">Pictures</a></li>
    <li><a href="#jobs" data-toggle="tab">Occupation</a></li>
    <li><a href="#locations" data-toggle="tab">Location</a></li>
    <li><a href="#info" data-toggle="tab">Info</a></li>
    <li><a href="#delete_account" data-toggle="tab">Delete Account</a></li>
  </ul>
  <br>
  <div class="tab-content">
    <div class="tab-pane active" id="home">
    	<form method='POST' action='/edit/pictures/' enctype="multipart/form-data"> {% csrf_token %}
    	<div class='row'>
    		<div class='col-lg-12'>
      {{ formset_p.management_form }}
  		{{ formset_p.as_p }}
  		</div>
  	</div>
  	<input class='btn btn-success' type='submit' value='Update' />
  	</form>
    </div>
    <div class="tab-pane" id="jobs">
    	<div class='row'>
    		<div class='col-lg-12'>
    			<form method='POST' action='/edit/jobs'> {% csrf_token %}
          {{ formset_a.management_form }}
  			  {{ formset_j.as_p }}
  			<input class='btn btn-success' type='submit' value='Update' />
  			</form>
  		</div>
  	</div>
    </div>
    <div class="tab-pane" id="locations">
    	<div class='row'>
    		<div class='col-lg-12'>
    			<form method='POST' action='/edit/addresses/'> {% csrf_token %}
            {{ formset_a.management_form }}
  			    {{ formset_a.as_p }}
  			<input class='btn btn-success' type='submit' value='Update' />
  			</form>
  		</div>
  	</div>
    </div>
    <div class="tab-pane" id="info">
      <div class='row'>
        <div class='col-lg-12'>
          <form method='POST' action='/edit/info/'> {% csrf_token %}
            {{ formset_i.management_form }}
            {{ formset_i.as_p }}
        <input class='btn btn-success' type='submit' value='Update' />
        </form>
      </div>
      </div>
    </div>
    <div class="tab-pane" id="delete_account">
      <div class='row'>
        <div class='col-lg-12'>
          <form method='POST' action='/edit/delete_account/'>
          </form>
          <h3 class="delete_info"> If you choose to delete your account, all your information will be deleted and you will not be able to recover it. </h3>
           <a href='{% url "delete_account" %}'><div class="btn-lg">Delete Account</div></a>      
         </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>





{% endblock %}