{% extends 'base.html' %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/profile_view.css">



{% block content %}
<div id="view_container">
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
	    <h1>Matches</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	<a href='{% url "sort_by_location" %}'>Sort by Location</a>
     	<span class="glyphicon glyphicon-user" id="tertiary-icon"></span>
     	<a href='{% url "sort_by_match" %}'>Sort by Match %</a>
	</div>
</div>
<div class="container" id="home-only">
  <div class='col-lg-10 col-12' id="center_div">
{% if messages %}
<div class='row'>
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
</div>
{% endif %}

<br/>
		<div class='row'>
{% for match in matches %}
	{% if not request.user == match.user1 %}
	<div class='col-sm-4'>
			{% for pic in match.user1.userpicture_set.all %}
				{% if forloop.first %}
					<a href='/members/{{ match.user1.username}}'><img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive'/></a>
				{% endif %}
			{% endfor %}
				{% if not match.user1.userpicture_set.all %}
					<a href='/members/{{ match.user1.username}}'><img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' /></a>
				{% endif %}
			
				<p id="user_name">{{ match.user1.username }}</p>
			</a>
		<div class="matching">
		{% if match.percent <= 100 and match.percent >= 90 %}
		<p style="color:green"> {{ match.percent }}%</p>
		{% elif match.percent <= 89 and match.percent >= 75 %}
		<p style="color:blue"> {{ match.percent }}%</p>
		{% elif match.percent <= 74 and match.percent >= 60 %}
		<p style="color:yellow"> {{ match.percent }}%</p>
		{% elif match.percent <= 59 and match.percent >= 40 %}
		<p style="color:orange"> {{ match.percent }}%</p>
		{% elif match.percent <= 39 and match.percent >= 1 %}
		<p style="color:red"> {{ match.percent }}%</p>
		{% else %}
		<p style="color:purple"> New User </p>
		{% endif %}
	
		<p id="user_address">{% for item in match.user1.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		{% ifnotequal match.distance 10000000 %}
		({{ match.distance }} miles away)</p>
		{% endifnotequal %}
		<br/>
		</div>
		</div>
	{% elif not request.user == match.user2 %}
	<div class='col-sm-4'>
			{% for pic in match.user2.userpicture_set.all %}
				{% if forloop.first %}
					<a href='/members/{{ match.user2.username}}'><img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive'/></a>
				{% endif %}
			{% endfor %}
				{% if not match.user2.userpicture_set.all %}
					<a href='/members/{{ match.user2.username}}'><img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' /></a>
				{% endif %}
			
				<p id="user_name">{{ match.user2.username }}</p>
			</a>

		<div class="matching">
		{% if match.percent <= 100 and match.percent >= 90 %}
		<p style="color:green"> {{ match.percent }}%</p>
		{% elif match.percent <= 89 and match.percent >= 75 %}
		<p style="color:blue"> {{ match.percent }}%</p>
		{% elif match.percent <= 74 and match.percent >= 60 %}
		<p style="color:yellow"> {{ match.percent }}%</p>
		{% elif match.percent <= 59 and match.percent >= 40 %}
		<p style="color:orange"> {{ match.percent }}%</p>
		{% elif match.percent <= 39 and match.percent >= 1 %}
		<p style="color:red"> {{ match.percent }}%</p>
		{% else %}
		<p style="color:purple"> New User </p>
		{% endif %}
	
		<p id="user_address">{% for item in match.user2.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		{% ifnotequal match.distance 10000000 %}
		 ({{ match.distance }} miles away)</p>
		{% endifnotequal %}
		<br/>
		</div>
	</div>


		
	

		

		{% endif %}
		{% cycle '' '' '' '' %}
{% endfor %}


</div>
</div>
</div>

<div class="modal fade" id="new_user_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Welcome to Frenvu!</h4>
      </div>
      <div class="modal-body">
        <p>Find your first match by answering some <a href='{% url "questions" %}'>questions!</a></p>
        <p>Or expand your profile by adding your <a href='{% url "interests" %}'>interests</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
	$('scroll').jscroll();
</script>

<script src="{{ STATIC_URL }}js/profile_view.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"/></script>
<script>

	var preloader = new GSPreloader({
	  radius:42, 
	  dotSize:15, 
	  dotCount:10, 
	  colors:["#61AC27","#555","purple","#FF6600"], //have as many or as few colors as you want.
	  boxOpacity:0.2,
	  boxBorder:"1px solid #AAA",
	  animationOffset: 1.8, //jump 1.8 seconds into the animation for a more active part of the spinning initially (just looks a bit better in my opinion)
	});
	$(window).load(function(){
		preloader.active(true);
	});
</script>



{% endblock %}