{% extends 'base.html' %}
{% block content %}

<div id="view_container">
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
	    <h1>Friends</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	
	</div>
</div>
<div class="container" id="home-only">
  <div class='col-lg-10 col-12' id="center_div">
<div class='row'>
{% if number_of_friends == 0 %}


	<h3 id="no_pictures">It doesn't look like you've made any friends on Frenvu yet. Check out Discover <a href="/discover/?page=1" id="upload_more_pictures"> to start finding some!</a></h3>

{% endif %}
{% for match in matches %}
	{% ifnotequal request.user match.user1 %}
	<div class='col-sm-4' id="friend">
			{% for pic in match.user1.userpicture_set.all %}
				{% if forloop.first %}
					<a href='/members/{{ match.user1.username}}'><img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive'/></a>
				{% endif %}
			{% endfor %}
				{% if not match.user1.userpicture_set.all %}
					<a href='/members/{{ match.user1.username}}'><img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' /></a>
				{% endif %}
			<h2>{{ match.user1.username }}</h2>
			<p id="user_address">
		{% for item in match.user1.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
			</p>
		<div id="match">{% if match.percent >= 90 %}
			<p id="very_good">Excellent Match</p>
			{% elif match.percent >= 80 %}
			<p id="good">Very Good Match</p>
			{% elif match.percent >= 60 %}
			<p id="average">Good Match</p>
			{% elif match.percent >= 45 %}
			<p id="weak">Average Match</p>
			{% else %}
			<p id="very_weak">Weak Match</p>
			{% endif %}
		</div>
		<br/>
		</div>
		{% else %}
		<div class='col-sm-4'>
			{% for pic in match.user2.userpicture_set.all %}
				{% if forloop.first %}
					<a href='/members/{{ match.user2.username}}'><img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive'/></a>
				{% endif %}
			{% endfor %}
				{% if not match.user2.userpicture_set.all %}
					<a href='/members/{{ match.user2.username}}'><img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive'/></a>
				{% endif %}
			<h2>{{ match.user2.username }}</h2>
		{% for item in match.user2.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		<div class="matching">
		<p id="match">
			<div id="match">{% if match.percent >= 90 %}
			<p id="very_good">Excellent Match</p>
			{% elif match.percent >= 80 %}
			<p id="good">Very Good Match</p>
			{% elif match.percent >= 60 %}
			<p id="average">Good Match</p>
			{% elif match.percent >= 45 %}
			<p id="weak">Average Match</p>
			{% else %}
			<p id="very_weak">Weak Match</p>
			{% endif %}
		</div></p>
		<br><br><br/>
		</div>
		</div>
		{% endifnotequal %}
		{% cycle '' '' '' '' %}
{% endfor %}

</div>
</div>
</div>
</div>
</div>

{% endblock %}