<head>
  <link href="{{ STATIC_URL }}css/new_user.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic' rel='stylesheet' type='text/css'>

  <meta charset="utf-8">
  <title>Frenvu{% block title %}{% endblock %}</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <!-- jQuery easing plugin -->
  <script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script> 
  <script type= "text/javascript" src = "{{ STATIC_URL }}js/jquery.alphanum.js"></script>
  <script type= "text/javascript" src = "{{ STATIC_URL }}js/landing/countries.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
  {% include 'navbar_new_user.html' %}
<div class="wrapper">
  <h1 class="heading">We just need a little more information to complete your account. </h1>
  {% if messages %}
            <div class='row'>
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
             </ul>
            </div>
          {% endif %}
  <!-- multistep form -->
  <form id="msform" method='POST' action='{% url "new_user_info" %}'>{% csrf_token %}
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active">Basic Info</li>
      <li>Personal Info</li>
      <li>Almost Done!</li>
    </ul>
    <!-- fieldsets -->
    <fieldset class="group_1">
      <h2 class="fs-title">Enter some basic information</h2>
      <input id="first_name" name="first_name" placeholder="First Name" required tabindex="1" type="text" maxlength="30">
      <input id="last_name" name="last_name" placeholder="Last Name" required tabindex="1" type="text" maxlength="50">
      <input id="username" name="username" placeholder="Username" required tabindex="1" type="text" maxlength="20">
      <label>Date of Birth</label> <br>
      <select class="select-style" name="BirthMonth" tabindex="1" required>
        <option selected="selected" disabled="disabled" value="">Month</option>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
      </select>
      <br>
      <input type="number" id="birthday_day" class="birthday" maxlength="2" name="BirthDay" tabindex="1"  placeholder="Day" required>
      <input type="number" id="birthday_year" class="birthyear" maxlength="4" name="BirthYear" tabindex="1" placeholder="Year" required>
      <br>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Personal Info</h2>
      <h3 class="fs-subtitle">More helpul information so you can be better matched</h3>
      <select class="select-style gender" tabindex="1" name="gender" required>
        <option selected="selected" disabled="disabled" value="" placeholder="gender"></option>
        <option value="m" selected>Male</option>
        <option value="f">Female</option>
      </select><br>
        Country:<select id="country" name ="country" required></select>
        State: <select name ="state" id ="state" required></select>
            <script language="javascript">
              populateCountries("country", "state");
            </script> 
            <input id="city" name="city" required="" tabindex="1" type="text" placeholder="City">
      <input type="button" name="previous" class="previous action-button" value="Previous" />      
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Almost Done...</h2>
      <h3 class="fs-subtitle"></h3>
      <p id="terms">By clicking Sign Me Up, you agree to our <a href="/terms_and_agreement/" target="_blank">Terms and Conditions</a> and understand our <a href="/terms_and_agreement/" target="_blank">Privacy Policy.</a></p>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input class="submit action-button" name="submit" id="new_sign_up" value="Sign Me Up" type="submit" disabled/>
      </fieldset>
  </form>
</div>
<script src="{{ STATIC_URL }}js/new_user.js" type="text/javascript"></script>
<script>
$('#username').alphanum({
  allow : " -_'"
});
</script>
<script>
$('#name').alphanum({
  allow : " -'",
  disallow:'0123456789'
});
</script>
<script>
$('#city').alphanum({
  allow : " -'",
  disallow:'0123456789'
});
</script>

<script>
checkPwd = function () {
    var str = document.getElementById('password').value;
    if (str.length < 6) {
        alert("Please enter a password that is at least 8 characters.");
        return ("too_short");
    }
}
</script>

<script>
$('#first_name, #last_name, #username, #birthday_day, #birthday_year, #state, #country, #city').bind('keyup', function() {
    if(allFilled()) $('#new_sign_up').removeAttr('disabled'),
      $('#new_sign_up').val('Sign Me Up');
});

function allFilled() {
    var filled = true;
    $('#first_name').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#last_name').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#username').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#birthday_day').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#birthday_year').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#country').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#state').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    $('#city').each(function() {
        if($(this).val().length < 1) filled = false;
    });
    return filled;
}
</script>
</body>
</html>
