{% extends 'base.html' %}
<head>
<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js" type="text/javascript"></script>
<link href="{{ STATIC_URL }}css/owl.carousel.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/pictures.css" rel="stylesheet">
</head>


{% block content %}
<div class="row" id="view_container">
  <div class="col-md-1" id="secondary_navbar">
        <h1>Pictures</h1>
  </div>
  <div class="col-md-1" id="tertiary_navbar">
     <a href="javascript:history.back()">Back</a>
  </div>
</div>
<div class="pictures_container">
  <div class="row">
{% for pic in pictures %}
    <div class='col-sm-4'>
      <img src=" {{ MEDIA_URL }}{{ pic }}" id="thumbnail" class="img-responsive" cropwidth="200" cropheight="200" class="cropimage">
    <div id="picture_caption">
    <p>{{ pic.caption }}</p>
    </div>
{% endfor %}
  </div>
</div>
</div>

<script>
    $('#thumbnail').cropbox({
        width: 200,
        height: 200
    }).on('cropbox', function(e, result) {
        console.log(result);
    });
</script>
{% endblock %}
