{% extends 'base.html' %}
<head>
<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js" type="text/javascript"></script>
<link href="{{ STATIC_URL }}css/owl.carousel.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/pictures.css" rel="stylesheet">
</head>


{% block content %}
<div class="row">
  <div class="col-md-1" id="secondary_navbar">
        <h1>Pictures</h1>
  </div>
  <div class="col-md-1" id="tertiary_navbar">
     <a href="javascript:history.back()">Back to Profile</a>
  </div>
</div>
<div class="pictures_container">
  <div class="row">
{% for pic in pictures %}
    <div class='col-sm-4'>
      <a href="#" title="{{ pic.caption }}"><img src=" {{ MEDIA_URL }}{{ pic }}" id="thumbnail" class="img-responsive" ></a>
      <p>{{ pic.caption }}</p>
    </div>
{% endfor %}
  </div>
</div>
</div>

  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="modal-title">Heading</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>


<script>

  $('.col-sm-4:nth-of-type(0)').click(function(){
    $('.modal-body').empty();
    var title = $(this).parent('a').attr("title");
    $('.modal-title').html(title);
    $($(this).parents('div').html()).appendTo('.modal-body');
    $('#myModal').modal({show:true});
});
</script>
{% endblock %}
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 class="modal-title">Heading</h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>