{% extends 'base.html' %}

{% block content %}
<div id="pictures">
  <div class="row" id="view_container">
    <div class="col-md-1" id="secondary_navbar">
          <h1>Pictures</h1>
    </div>
    <div class="col-md-1" id="tertiary_navbar">
       <a href="#add_more_pictures" id="upload_more">Add Pictures</a>
    </div>
  </div>
  {% if num_of_pics == 0 %}
  <h3 id="no_pictures">It doesn't look like you have any pictures. Go ahead and <a href="#add_more_pictures" id="upload_more_pictures">start adding some</a></h3>
  {% endif %} 
  <div id="myDiv"></div>
        <!-- carousel data -->
        <div id="carouselData">
          <!-- image datalist category 1 -->
          <ul data-cat="Category one" style="display:none">  {% for pic in pictures %}     
            <ul>
              <li data-type="media" data-url="{{ MEDIA_URL }}{{ pic }}" data-target="_blank"></li>
              <li data-thumbnail-path="{{ MEDIA_URL }}{{ pic }}"></li>

              <li data-thumbnail-text="{{ pic.caption }}" data-thumbnail-text-title-offset="35"
              data-thumbnail-text-offset-top="10" data-thumbnail-text-offset-bottom="0">

                <p class="smallLabel" id="delete_picture"><a href='{% url "delete_picture" pic.id %}' type='submit' value='Yes'><span style="color:white"class="glyphicon glyphicon-trash"></span></a></p>
              </li>
              <li data-info="">
                <p class="mediaDescriptionHeader">{{ pic.caption }}</p>
              </li>
            </ul>
            {% endfor %}
          </ul>
          <!-- end  -->
          <!-- end  -->
        </div>
    <br>
      
    </div>
    <br> 

      <div class="bbody" id="add_more_pictures">

      <!-- upload form -->
      <form id="upload_form" enctype="multipart/form-data" method="post" action='{% url "new_picture" %}' onsubmit="return checkForm()"> {% csrf_token %}
          <!-- hidden crop params -->
        <p class="step1">Please select an image file</p>

            <div>
                <input id="image_file" name="image" onchange=
                "fileSelectHandler()" type="file">
            </div>
            <br>


            <div class="error"></div>

            <div class="step2">
                <img type="file" id="preview" name="preview" style="height:286px;width:auto" />

            </div>
            <div id="rotate_row"><a id="rotate"><span class='glyphicon glyphicon-refresh' ></span>Rotate</a></div>
            <div class="caption" >
                <label>Caption:</label> 
                <textarea cols="20" id="caption" name="caption" rows="3">
                </textarea>
            </div>
            <br>
            <input class="btn" id="upload_button" type="submit" value="Upload">
        </form>
    </div>
<div class="modal fade" id="new_user_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Let others put a name to a face!</h4>
      </div>
      <div class="modal-body">
        <p>That way, people won't think you're creepy. You're only allowed a limited number of pictures, so choose wisely. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% for pic in pictures %}
<div class="modal fade" id="delete_picture_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Are you sure you want to delete this picture?</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <div class="modal-footer">
        <a href='{% url "delete_picture" pic.id %}' id="delete_message_button"  type='submit' value='Yes'></a>
        <button type="button" id="message_button" data-dismiss="modal">No</button>
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endfor %}

    <script src="{{ STATIC_URL }}js/pictures_cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/new_user_pictures.js" type="text/javascript"></script>
    <!-- Circle Carousel -->
    <script src="{{ STATIC_URL }}js/pictures_crop.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/FWDRoyal3DCarousel.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/3dcarousel/initiate.js" type="text/javascript"></script>
<script>
        FWDR3DCarUtils.onReady(function(){
    var carousel = new FWDRoyal3DCarousel({
        //required settings
        carouselHolderDivId:"myDiv",
        carouselDataListDivId:"carouselData",
        displayType:"responsive",
        autoScale:"yes",
        carouselWidth:940,
        carouselHeight:538,
        skinPath:"{{ STATIC_URL }}img/minimal_classic_skin",
        //main settings
        backgroundColor:"none",
        backgroundImagePath:"",
        thumbnailsBackgroundImagePath:"",
        scrollbarBackgroundImagePath:"",
        backgroundRepeat:"repeat-x",
        showDisplay2DAlways:"no",
        carouselStartPosition:"center",
        numberOfThumbnailsToDisplayLeftAndRight:4,
        slideshowDelay:5000,
        autoplay:"no",
        showPrevButton:"yes",
        showNextButton:"yes",
        showSlideshowButton:"yes",
        disableNextAndPrevButtonsOnMobile:"no",
        controlsMaxWidth:940,
        slideshowTimerColor:"#777777",  
        showContextMenu:"no",
        addKeyboardSupport:"yes",
        //thumbnail settings
        thumbnailWidth:420,
        thumbnailHeight:286,
        thumbnailSpaceOffset3D:-19,
        thumbnailSpaceOffset2D:-19,
        thumbnailBorderSize:10,
        thumbnailBackgroundColor:"#666666",
        thumbnailBorderColor1:"#fcfdfd",
        thumbnailBorderColor2:"#e4e4e4",
        transparentImages:"no",
        maxNumberOfThumbnailsOnMobile:13,
        showThumbnailsGradient:"yes",
        showThumbnailsHtmlContent:"no",
        textBackgroundColor:"#333333",
        textBackgroundOpacity:.7,
        showText:"yes",
        showTextBackgroundImage:"yes",
        showThumbnailBoxShadow:"yes",
        thumbnailBoxShadowCss:"0px 2px 2px #555555",
        showReflection:"yes",
        reflectionHeight:60,
        reflectionDistance:0,
        reflectionOpacity:.2,
        //scrollbar settings
        showScrollbar:"no",
        disableScrollbarOnMobile:"yes",
        enableMouseWheelScroll:"yes",
        scrollbarHandlerWidth:300,
        scrollbarTextColorNormal:"#777777",
        scrollbarTextColorSelected:"#000000",   
        //combobox settings
        showComboBox:"no",
        startAtCategory:1,
        selectLabel:"SELECT CATEGORIES",
        allCategoriesLabel:"All Categories",
        showAllCategories:"yes",
        comboBoxPosition:"topright",
        selectorBackgroundNormalColor1:"#fcfdfd",
        selectorBackgroundNormalColor2:"#e4e4e4",
        selectorBackgroundSelectedColor1:"#a7a7a7",
        selectorBackgroundSelectedColor2:"#8e8e8e",
        selectorTextNormalColor:"#8b8b8b",
        selectorTextSelectedColor:"#FFFFFF",
        buttonBackgroundNormalColor1:"#e7e7e7",
        buttonBackgroundNormalColor2:"#e7e7e7",
        buttonBackgroundSelectedColor1:"#a7a7a7",
        buttonBackgroundSelectedColor2:"#8e8e8e",
        buttonTextNormalColor:"#000000",
        buttonTextSelectedColor:"#FFFFFF",
        comboBoxShadowColor:"#000000",
        comboBoxHorizontalMargins:12,
        comboBoxVerticalMargins:12,
        comboBoxCornerRadius:0,
        //lightbox settings
        addLightBoxKeyboardSupport:"yes",
        showLightBoxNextAndPrevButtons:"yes",
        showLightBoxZoomButton:"yes",
        showLightBoxInfoButton:"yes",
        showLighBoxSlideShowButton:"yes",
        showLightBoxInfoWindowByDefault:"no",
        slideShowAutoPlay:"no",
        lightBoxVideoAutoPlay:"no",
        lightBoxVideoWidth:640,
        lightBoxVideoHeight:480,
        lightBoxIframeWidth:800,
        lightBoxIframeHeight:600,
        lightBoxBackgroundColor:"#000000",
        lightBoxInfoWindowBackgroundColor:"#FFFFFF",
        lightBoxItemBorderColor1:"#fcfdfd",
        lightBoxItemBorderColor2:"#e4FFe4",
        lightBoxItemBackgroundColor:"#333333",
        lightBoxMainBackgroundOpacity:.8,
        lightBoxInfoWindowBackgroundOpacity:.9,
        lightBoxBorderSize:5,
        lightBoxBorderRadius:0,
        lightBoxSlideShowDelay:4000
    }); 
})
</script>

<script> 
    $("#upload_more").click(function() {
        $(".bbody").toggle(function() {
        });
    });
</script>

<script> 
    $("#upload_more_pictures").click(function() {
        $(".bbody").toggle(function() {
        });
    });
</script>

<script>
    $('#rotate').click(function() {
        $('#preview').rotateRight(90);
    });
</script>



<!--<script>
$("#preview").rotate({
    bind: {
        click: function() {
            $(this).rotate({
                angle: 0,
                animateTo: 90,
                easing: $.easing.easeInOutExpo
            });
        }
    }});
</script>
-->
{% endblock %}
