{% extends 'base.html' %}
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/profile_view.css">
</head>

{% block content %}

<div class="row" id="annoying_row">
	<div class="col-md-1" id="secondary_navbar">
        <h1></h1>
	</div>
</div>
<div class="container" id="single_user_container">
{% if messages %}
<div class='row'>
    <div class="col-md-1" id="tertiary_navbar">
      {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
</div>
{% endif %}
	<div class = 'row' id="picture_row">
		<div class='col col-sm-12'>
			<h1 id="name_of_user">{{ single_user.username }}</h1>

			{% if profile_pic %}
				<img src='{{ MEDIA_URL }}{{ profile_pic }}' class='img' id="myfriend"/>		

			{% elif single_user.userpicture_set.all %}
			{% for pic in single_user.userpicture_set.all %}
					{% if forloop.first %}
						<img src='{{ MEDIA_URL }}{{ pic }}' class='img' id="myfriend"/>
					{% endif %}
			{% endfor %}


			{% else %}
				<img src='{{ STATIC_URL }}img/avatar.png' class='img' id="myfriend" />
			{% endif %}
		</div>
	</div>
	{% if not request.user == single_user %}
			{% if single_user_is_new %}
			<h4 id="average">New User</h4>
			{% elif match.percent >= 90 %}
			<h4 id="very_good">Excellent Match</h4>
			{% elif match.percent >= 80 %}
			<h4 id="good">Very Good Match</h4>
			{% elif match.percent >= 60 %}
			<h4 id="average">Good Match</h4>
			{% elif match.percent >= 45 %}
			<h4 id="weak">Average Match</h4>
			{% else %}
			<h4 id="very_weak">Weak Match</h4>
			{% endif %}
	{% endif %}
		<h4 id="location">{% for item in user.address_set.all %}
			{{ item.city|title }}, {% if item.state|length == 2 %} {{ item.state|upper }} {% else %} {{ item.state|capfirst }} {% endif %}
			{% endfor %}
			{% ifnotequal match.distance 10000000 %}
			{% if not request.user == single_user %}
			({{ match.distance|floatformat:"0" }} miles away)
			{% endif %}
			{% endifnotequal %}
		</h4>
		<div class="user_profile_buttons" id="buttons_row">
		{% if not request.user == single_user %}
			<div class="buttons">
				{% if match.user1_approved == True and match.user2_approved == True %}
				<a  class="btn btn-default btn" id="friend_button" title="You are friends!"><p>Friends</p></a>
				<a class="btn btn-default btn" id="message_button" data-toggle="tooltip" data-placement="top" href='{% url "su_compose" single_user.username %}'><p>Send Message</p></a>
				{% elif match.user1_approved == True and match.user1 == request.user %}
				<a  class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
				<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
				{% elif match.user2_approved == True and match.user2 == request.user %}
				<a class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
				<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
				{% else %}
				<a class="btn btn-default btn" id="friend_button"><p id="add_me">Add Friend</p></a>
				<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
				{% endif %}
				<a class="btn btn-default btn" id="pictures_button" href="/members/{{ single_user.username}}/pictures/"><p>Browse Pictures</p></a>
			{% endif %}
			</div>
			
			<div class='col-lg-6' id='single_user_body'>
				<a class='hidden' id='view_buttons'>Hide Info</a>
				<a class='btn-success' id='view_info'>View Info</a>
			</div>
    <div id="information">
        <div class='panel panel-default'>
            <div class='panel-heading' id='bio_panel'>
                <p>{% if not request.user == single_user %} {{ single_user.username }} in a sentence {% else %} Me in a
                sentence {% endif %}</p>
                <p id='info_edit'></p>
            </div>
            <div class='panel-body' id='bio_body'>
                {% for item in single_user.info_set.all %}{% if forloop.first %}{{item.bio}}{% endif %}{% endfor %}
            </div>
        </div>
         <div class='panel panel-default'>
            <div class='panel-heading' id='occ_panel'>
                <p>Occupation</p>
            </div>
            <div class='panel-body' id='occ_body'>
                {% for item in single_user.job_set.all %}{{item.position|title}} at
            {{item.employer|title}}{% endfor %}
            </div>
        </div>
        <div class='panel panel-default'>
            <div class='panel-heading' id='occ_panel'>
                <p>Interests</p>
            </div>
            <div class='panel-body' id='occ_body'>
               {% for interest in interests_all %}
			<p>{{ interest.interest }},</p>
				{% endfor %}
            </div>
    	</div>
	</div>	
</div>
<script>
$('#view_info').click(function(){
	$(this).addClass("hidden");
	$('#view_buttons').removeClass("hidden");
	$('#information').stop(true, false).fadeIn();
});

var close_event = new CustomEvent('close')
$('#view_buttons').click(function(){
	$(this).addClass("hidden");
	$('#view_info').removeClass("hidden")
	$('#information').stop(true, false).fadeOut();
});
</script>

<script>
$('#friend_button').click(function(){
	$('#add_me').text("Request Sent");
	$.get('{% url "add_friend" single_user.username %}');	
});
</script>



{% endblock %}
