{% extends 'base.html' %}
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/profile_view.css">
</head>


{% block content %}
<div class="row" id="annoying_row">
	<div class="col-md-1" id="secondary_navbar">
        <h1></h1>
	</div>
</div>
<div class="container" id="single_user_container">
{% if messages %}
<div class='row'>
                <div class="col-md-1" id="tertiary_navbar">
                  {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  {% endfor %}
                </div>
</div>
{% endif %}
	<div class = 'row' id="picture_row">
		<div class='col col-sm-12'>
			<h1>{{ single_user.username }}</h1>

			

			
			{% for pic in single_user.userpicture_set.all %}
				{% if pic.is_profile_pic or single_user.userpicture_set.all.count == 1 %}
					<img src='{{ MEDIA_URL }}{{ pic }}' class='img' id="myfriend"/>
				{% endif %}
			{% endfor %}






			{% if not single_user.userpicture_set.all %}
				<img src='{{ STATIC_URL }}img/avatar.png' class='img' id="myfriend" />
			{% endif %}
		</div>

	</div>
	{% if not request.user == single_user %}
		{% if match.percent >= 90 %}
		<h3 id="very_good">Very Good Match</h3>
		{% elif match.percent >= 80 %}
		<h3  id="good">Good Match</h3>
		{% elif match.percent >= 70 %}
		<h3  id="average">Average Match</h3>
		{% elif match.percent >= 45 %}
		<h3  id="weak">Weak Match</h3>
		{% else %}
		<h3  id="very_weak">Very Weak Match</h3>
		{% endif %}
		<h3 id="location">{% for item in user.address_set.all %}
				{{ item.city|title }}, {% if item.state|length == 2 %} {{ item.state|upper }} {% else %} {{ item.state|capfirst }} {% endif %}
				{% endfor %}
				{% ifnotequal match.distance 10000000 %}
				({{ match.distance|floatformat:"0" }} miles away)
				{% endifnotequal %}
		</h3>
		<a class='hidden' id='view_buttons'>View More</a>
		<a class='btn-success' id='view_info'>View Info</a>
		<br>
		<div id="flip_card">
		

		<div class="row" id="buttons_row">
			<div class="buttons">
				{% if match.user1_approved == True and match.user2_approved == True %}
				<a  class="btn btn-default btn" id="friend_button" title="You are friends!"><p>Friends</p></a>
				<a class="btn btn-default btn" id="message_button" data-toggle="tooltip" data-placement="top" href='{% url "su_compose" single_user.username %}'><p>Send Message</p></a>
				{% elif match.user1_approved == True and match.user1 == request.user %}
				<a  class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
				<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
				{% elif match.user2_approved == True and match.user2 == request.user %}
				<a class="btn btn-default btn" id="friend_button"><p>Request Sent</p></a>
				<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
				{% else %}
				<a  class="btn btn-default btn" id="friend_button"><p id="add_me">Add Friend</p></a>
				<a class="btn btn-default btn" id="message_button_not_friends" data-toggle="tooltip" data-placement="top" title="Sorry but you have to be friends first!"><p>Send Message<br>(Must be friends)</p></a>
				{% endif %}
				<a class="btn btn-default btn" id="interests_button" href="/members/{{ single_user.username}}/interests/"><p>View Interests</p></a>
				<a class="btn btn-default btn" id="pictures_button" href="/members/{{ single_user.username}}/pictures/"><p>Browse Pictures</p></a>
			</div>
		</div>
		</div>
	
	{% endif %}
</div>
<script>
$('form').on('submit', function(event) {
event.defaultPrevented();
$.ajax('/members/{{ single_user.username}}', {
  type:"POST",
  data: $('form').serialize(),
});
});
</script>

<script>
$('#friend_button').click(function(){
	$('#add_me').text("Request Sent");
	$.get('{% url "add_friend" single_user.username %}');	
});
</script>



<!--<script>
$(document).ready(function() {
	$('#load_interests').on("click", function() {
		$("#content").load("interests/single_user.html", function() { alert("Load was performed");
		});
	});
});
</script>
-->

<script>

var front = document.getElementById('flip_card')
  , back_content = "<div class='col-lg-6' id='single_user_body'><div class='panel panel-default'><div class='panel-heading' id='bio_panel'><p>Bio</p><span class='glyphicon glyphicon-chevron-down'></span><p id='info_edit'></p></div><div class='panel-body' id='bio_body'>{% for item in single_user.info_set.all %}{% if forloop.first %}{{item.bio}}{% endif %}{% endfor %}</div></div><div class='panel panel-default'><div class='panel-heading' id='occ_panel'><p>Occupation</p><span class='glyphicon glyphicon-chevron-down'></span><p id='info_edit'></p></div><div class='panel-body' id='occ_body'>{% for item in single_user.job_set.all %}{{item.position|title}}at{{item.employer|title}}{% endfor %}</div></div></div></div>" // Generate or pull any HTML you want for the back.
  , back

$('#view_info').click(function(){
	$(this).addClass("hidden");
	$('#view_buttons').removeClass("hidden");
	back = flippant.flip(front, back_content)
});

var close_event = new CustomEvent('close')
$('#view_buttons').click(function(){
	$(this).addClass("hidden");
	$('#view_info').removeClass("hidden")
	back.dispatchEvent(close_event)
});


</script>
{% endblock %}
