{% extends 'base.html' %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/profile_view.css">



{% block content %}
<div id="view_container">
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Visitors</h1>
	</div>	
</div>
<div class="container" id="home-only">
  <div class='col-lg-10 col-12' id="center-div">
<br/>
<div class='row'>	
{% for visitor in visitors %}
	{% if not request.user == visitor %}
	<div class='col-sm-4 '>
		{% for pic in visitor.userpicture_set.all %}
			
			{% if forloop.first %}
				<a href='/members/{{ visitor.username}}'>
				<img src='{{ MEDIA_URL }}{{ pic }}' class='img-responsive' />
			{% endif %}
		{% endfor %}
		{% if not visitor.userpicture_set.all %}
				<img src='{{ STATIC_URL }}img/avatar.png' class='img-responsive' />
		{% endif %}
			
		<p id="user_name">{{ visitor.username }}</p>
		</a>
		<p id="user_address">{% for item in visitor.address_set.all %} 
			{% if forloop.first %} {{ item }}
			{% endif %} 
		{% endfor %}
		</p>
		</div>
		{% endif %}
		{% cycle '' '' '' '</div><div class="row">' %}
{% endfor %}
</div>
</div>
</div>
</div>
</div>
<script src="{{ STATIC_URL }}js/profile_view.js"></script>

{% endblock %}