{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">

{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
        <h1>New Message</h1>
	</div>
</div>
<div id="compose_message_container">
  <div class='col-lg-10 col-12'>

	<form action='' method='POST'> {% csrf_token %}
	{{ form.as_p }}
	<input class='btn btn-lg' type='submit' value="Send Message" id="send_message_button">
	</form>
	</div>


<br>
<br>
<div class="button_container" id="compose_button_container">
<div class="left-button">
	<form action="/messages/inbox/">
		<input class='btn btn-info btn-sm' type='submit' value="Inbox">
	</form>
</div>
<div class="right-button">
	<form action="/messages/sent/">
		<input class='btn btn-info btn-sm' type='submit' value="Sent">
	</form>
</div>
</div>
</div>
</div>
{% endblock %}