<link href="/static/css/messages.css" rel="stylesheet">
{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>New Message</h1>
	</div>
</div>
<div class="container">
  <div class='col-lg-10 col-12'>
<div class name="container">
	<form action='' method='POST'> {% csrf_token %}
	{{ form.as_p }}
	<input class='btn btn-default' type='submit' value="Send Message">
	</form>
</div>
<br>
<br>
<div class="left-button">
	<form action="/messages/inbox/">
		<input class='btn btn-info btn-sm' type='submit' value="Inbox">
	</form>
</div>
<div class="right-button">
	<form action="/messages/sent/">
		<input class='btn btn-info btn-sm' type='submit' value="Sent">
	</form>
</div>
</div>
</div>
{% endblock %}