{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">



{% block content %}


<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Inbox</h1>
	</div>
</div>
<div class='row'>
                <div class="col-md-1" id="tertiary_navbar">
                  {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  {% endfor %}
                </div>
</div>
<div class="container" id="message_container">
  <div class='col-lg-10 col-12'>
	<div class="body_section">
	<table class='table table-striped'>
		<thead>
		<th>From</th> <th>Subject</th>
		</thead>
		<tbody>
			{% for item in messages_in_inbox %}
			<tr >
				<td>
					{{ item.sender }}
				</td>
				<td>
					{% if item.read %}
						<span style='color: grey;' class='glyphicon glyphicon-ok'></span>
					{% endif %}
					<a {% if item.read %} style='color: grey;' {% endif %} href= '{{ item.get_absolute_url }}'>{{ item.subject|truncatewords:"10" }}</a>
					{% if item.sent %} 
						<small>{{ item.sent }}</small> 
					{% endif %}
				</td>

			</tr>
			{% endfor %}
		</body>

	</table>
	<div class="button_container">
		<div class="left-button">
			<form action="/messages/compose/">
				<input class='btn btn-info btn-sm' type='submit' value="New Message">
			</form>
		</div>
		<div class="right-button">
			<form action="/messages/sent/">
				<input class='btn btn-info btn-sm' type='submit' value="Sent">
		</form>
		</div>
	</div>
</div>
</div>
</div>
<br>
<br>




{% endblock %}