{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">



{% block content %}

<div id="view_container">
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1 align="center">Inbox</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
 		<a href="/messages/compose/" class="half-nav1">New Message</a>
 		<span class= 'glyphicon glyphicon-envelope' id="tertiary-icon"></span>
 		<a href="/messages/sent/" class="half-nav2">Sent Messages</a>
	</div>
</div>
<div class='row'>
                <div class="col-md-1" id="tertiary_navbar">
                  {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  {% endfor %}
                </div>
</div>
<br>
<div class="container">
  <div class='col-lg-10 col-12'>
	<div class="body_section">
	<table class='table table-striped'>
		<thead>
		<th>From</th> <th>Message</th>
		</thead>
		<tbody>
			{% for item in messages_in_inbox %}
			<tr >
				<td><a href="/members/{{ item.sender }}/">
						{% for pic in item.sender.userpicture_set.all %}
	                		{% if pic.is_profile_pic %}
	                		<img src='{{ MEDIA_URL }}{{ pic }}' alt="Owl Image"></div>
	                		{% endif %}
	                	{% endfor %}

					{{ item.sender }}</a>
				</td>
				<td>
					{% if item.read %}
						<span style='color: grey;' class='glyphicon glyphicon-ok'></span>
					{% endif %}
					<a {% if item.read %} style='color: grey;' {% endif %} href= '{{ item.get_absolute_url }}'>{{ item.body|truncatewords:"10" }}</a>
					{% if item.sent %} 
						<small>{{ item.sent }}</small> 
					{% endif %}
				</td>

			</tr>
			{% endfor %}
		</body>

	</table>
</div>
</div>
</div>
<br>
<br>
</div>




{% endblock %}