{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">


{% block content %}
<div id="view_container">

<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Sent</h1>
	</div>
	<div id="tertiary_navbar" class="col-md-1">
     		<a href="/messages/inbox/">&nbsp;&nbsp;&nbsp;&nbsp; Inbox &nbsp;&nbsp;&nbsp;&nbsp;</a>
     		<span class='glyphicon glyphicon-envelope' id="tertiary-icon"></span>
     		<a href="/messages/compose/">New Message</a>
	</div>
  {% if messages %}
<div class='row'>
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
</div>
{% endif %}
{% for item in messages_in_inbox %}
<div class="container">
  <div class='col-lg-10 col-12'>
<h4>To:<a href="/members/{{ item.receiver }}/"> 
  {% for pic in item.receiver.userpicture_set.all %}
    {% if forloop.first %}
    <img src='{{ MEDIA_URL }}{{ pic }}' alt="Owl Image" id="message_image"></div>
    {% endif %}
  {% endfor %}
  {{ item.receiver }}</a></h4>
  <a id="delete_sent"><span class="glyphicon glyphicon-trash"></a>
on {{ item.sent }}<br/>

<div class="well">
	<textarea id="sent_text" disabled="disabled">{{ item.body }}</textarea>
</div>
</div>


<br>
<br>

{% endfor %}
</div>
</div>
{% endblock %}