{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">


{% block content %}
<div id="view_container">
<br>

  <div class='col-lg-10 col-12'>
{% if messages %}
<div class='row'>
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
</div>
{% endif %}
<div class="row">
	<div class="col-md-1" id="messages_navbar">
        <h1>Sent Messages</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     		<a href="/messages/inbox/" class="half-nav1">Inbox</a>
     		<span class='glyphicon glyphicon-envelope' id="tertiary-icon"></span>
     		<a href="/messages/compose/" class="half-nav2">New Message</a>
	</div>
</div>
{% for item in messages_in_inbox %}
<div class="container">
  <div class='col-lg-10 col-12'>
<h4>To:<a href="/members/{{ item.receiver }}/"> 
  {% for pic in item.receiver.userpicture_set.all %}
    {% if forloop.first %}
    <img src='{{ MEDIA_URL }}{{ pic }}' alt="Owl Image" id="message_image"></div>
    {% endif %}
  {% endfor %}
  {{ item.receiver }}</a></h4>
  <a id="delete_sent"><span class="glyphicon glyphicon-trash"></a>
on {{ item.sent }}<br/>

<div class="well">
	<textarea id="sent_text" disabled="disabled">{{ item.body }}</textarea>
</div>
</div>


<br>
<br>

{% endfor %}
</div>
</div>
{% endblock %}