{% extends 'base.html' %}

<link href="{{ STATIC_URL }}css/messages.css" rel="stylesheet">


{% block content %}
<div class="container">
  <div class='col-lg-10 col-12'>
{% if true1 and true2 %}
<h1>Compose</h1>
<div class name="container">
	<form action='' method='POST'> {% csrf_token %}
	{{ form.as_p }}
	<input class='btn btn-default' type='submit' value="Send Message">
	</form>
</div>
{% else %}
Sorry but you both haven't requested to be friends yet!
{% endif %}
</div>
</div>


{% endblock %}