{% extends 'base.html' %}

{% block content %}
<div id="view_container">
<br>
  <div class='col-lg-10 col-12'>
  	<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Message View</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     		<a href="/messages/inbox/" class="half-nav1">Inbox</a>
     		<span class='glyphicon glyphicon-envelope' id="tertiary-icon"></span>
     		<a href="/messages/sent/" class="half-nav2">Sent</a>
	</div>
</div>
<div class='row'>
                <div class="col-md-1" id="tertiary_navbar">
                  {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  {% endfor %}
                </div>
</div>
	<div class="container">
	<div class="body_section">
	<table class='table table-striped' id="view_table">
	<table>
		<thead>
		<th>From</th> <th> Message </th>
		</thead>
		<tbody>
			<td><a href="/members/{{ message.sender }}/">
					{{ message.sender }}
				</a>
				</td>
			<td>{{ message.body }}</td>
		</body>
		</table>
		</div>
		<br>
		<div class="button_container">
		<a class='btn btn-info btn-sm' href="{% url 'reply' message.id %}">Reply</a>
	</div>
	</div>
</div>
</div>
{% endblock %}