<head>
  <html lang="en">
  <title>How to meet people online</title>
    <meta name="description" content="Follow these steps and you'll be meeting cool new people online in no time.">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="msvalidate.01" content="8E9C82F48373033DDB4FFACCDCA6E4DE" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
    <meta property="og:title" content="Frenvu. The place to meet people." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.logomaker.com/logo-images/0766a28f4ca4192e.gif" />
    <meta property="og:url" content="http://www.frenvu.com/" />
    <meta property="og:site_name" content="Frenvu" />
    <meta property="fb:admins" content="nick.kebback.5" />
    <link rel="icon" href="http://www.logomaker.com/logo-images/0766a28f4ca4192e.gif">
    <link rel="apple-touch-icon" href="/static/img/frenvu_logo-2circles.png">
    <link href="{{ STATIC_URL }}css/press.css" rel="stylesheet">
</head>
<body>
<div class="navbar">
         <div class="brand">
           <a href="/"><span>Frenvu</span></a>
        </div>
  </div>

<div class="wrapper">
  <div class="header">
  <h1>4 Easy ways meet people online</h1>
  </h1> 
<div class="press_body">
    <div class="part_1" id="background-info"> 
      <p>Background info: Frenvu is a free social networking site that helps its users meet new people online. There are countless reasons to use Frenvu. Well, here are 4 that come to mind.</p>
      </div>
  <br>

<div class="part_2">


  <h2>1. Expand your network around you.</h2>
    When it comes to finding friends when you're growing up, the whole process is pretty luck based. Sometimes, you'll end up becoming good friends with awesome people. Other times, you'll be unhappy in your social circle and might not even know it. That's where Frenvu comes in. Frenvu takes the luck out of meeting cool people around you, and does the heaving lifting for you, matching you with other users who share your interests and have compatible personalities.
  <h2>2. You just moved to a new place and don't know anyone.</h2>
    In this more dire situation, you've just moved to a new city for work, school, or anything else. If you're still in school, you're probably in okay shape in terms of meeting people. Chances are there will be new people you can meet and make friends with. If not, keep reading because Frenvu can still solve your friend-related problems. Assuming you moved for work, you're going to have a fair amount of your time committed to getting your career off the ground. Thus, you don't really have the resources to allocate toward meeting new people. What if you don't get along with the people you work with at all? Any of these reasons are good enough to warrant trying Frenvu. 
  <h2>3. You're an introvert or haven't had the best luck making friends</h2>
  For an introvert, <a href="/press" target="_blank">finding new friends in general is a pretty difficult task</a>. That's why Frenvu doesn't require a user's real name to be displayed. If you're shy about putting yourself out there on social media to make friends, no worries.
  <h2>4. You just love meeting new people </h2>
    Maybe you have no problem ever meeting new people, but you can never meet enough to satisfy yourself. Reaching out to new people for the sake of just getting to know them is generally frowned upon with other forms of social media today. No one uses Facebook to meet new people; you look creepy if you try, or facebook will ban you. You can potentially ruin your professional life if you try to be friends with everyone you meet on LinkedIn.
    <br><br> You never know the motives of anyone you want to meet on dating sites. The only viable online option today seems to be small niche groups, but meeting people via one of those can be an extremely time consuming process. That's where Frenvu comes in (again). You can reach out to meet new people, and it's not weird, because that's what it's for. You won't get harassed by people you don't want to talk to, because communication requires approval from both parties. Frenvu just makes it easy to meet new people, and make new friends. <a href="http://www.frenvu.com/"> So give it a shot.</a>
  </div>
   <br>
<div class="part_4">
  <p>For some more info on how to meet people, check out some of these resources:</p>
  <br>
  <a href="http://www.lifehack.org/articles/communication/how-to-make-friends-introvert.html">How to Make Friends if you're an Introvert</a> 
  <br>
  <a href="http://www.businessinsider.com/how-to-make-friends-when-youre-a-grown-up-2014-7"> How to Make Friends when you're a Grownup</a>
  <br>
  <a href="http://www.fastcompany.com/3038537/how-to-make-new-friends-as-an-adult">How to Make New Friends as an Adult</a>
</div>
   <br>
</div><!--body-->
  </div><!--wrapper-->
</div>
<!--========================Footer======================= -->
<footer>
  <div class="footer_1">
    <a href="/"><li>
      Home
    </li></a>
    <a href="/press"><li>
      Press
    </li></a>
      <a class="active" href="/about"><li>
      About
    </li></a>
    <a href="/help"><li>
      Help
    <li></a>
  </div>
  <div class="footer_2">
    <a href="/terms_and_agreement"><li>
      Terms and Conditions
    </li></a>
    <a href="/cookies"><li>
      Cookies
    </li></a>
    <a href="/contact"><li>
      Contact Us
    </li></a>
  </div>
</footer>
<!--=====================================================-->

  <!--Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52353405-2', 'auto');
  ga('send', 'pageview');
</script>
</body>