{% extends "base.html" %}

<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>


{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
		<h1>What are you passionate about?</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
		<a href="/interests/all" class="half-nav2">Interests Home</a>
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
	    {% for message in messages %}
	    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
	    {% endfor %}
	</div>
    <div class='col-lg-10 col-12'>
	    <div class="contain">
    		<form method='POST' id="create_interest" action=''>{% csrf_token %}
    		{{ form.as_p }}
    		<input class=btn-lg type='submit' value="Create" />
    		</form>
	    </div>
    </div>
</div>
{% endblock %}