<head><link href="/static/css/interests.css" rel="stylesheet"></head>
{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Create an Interest</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	<a href="/interests/edit/">Edit Interests</a>
     	<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
     	<a href="/interests/">Interests Home</a>
	</div>
</div>
<div class="container">
  <div class='col-lg-10 col-12'>
<div class="contain">
	
	<form method='POST' action=''>{% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value="Create" />
	</form>
</div>
</div>
</div>

{% endblock %}