{% extends 'base.html' %}
<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>


{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Interests</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<a href="/interests/edit/" class="half-nav1">Edit Interests</a>
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
		<a href="/interests/create/" class="half-nav2">Add Interests</a>
	</div>
{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}
	<div class='row' id="interests-wrapper">
		<div class="category">
			<h2 class="category_name" id="category_name_1">Games</h2>
		<div class="category_hidden" id="category1">
		{% for interest in games %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
		
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Fitness/Sports</h2>
		<div class="category_hidden" id="category2">
		{% for interest in fitness_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
	</div><!--Category 2-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_3">Outdoor Activities</h2>
		<div class="category_hidden" id="category3">
		{% for interest in outdoor_activities %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
	</div><!--Category 3-->
		</div><!--End Category-->
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Performing Arts and Music</h2>
		<div class="category_hidden" id="category2">
		{% for interest in performing_arts %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Arts and Crafts</h2>
		<div class="category_hidden" id="category2">
		{% for interest in arts_crafts %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Spiritual/Mental Health</h2>
		<div class="category_hidden" id="category2">
		{% for interest in spiritual %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Food/Cooking</h2>
		<div class="category_hidden" id="category2">
		{% for interest in food %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">News/Current Events</h2>
		<div class="category_hidden" id="category2">
		{% for interest in news %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		</div><!--End Category-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Indoor Activities</h2>
		<div class="category_hidden" id="category2">
		{% for interest in indoor %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
		</form>
		</div><!--End Interest-->
		{% endfor %}




	</div><!--End wrapper-->
</div><!--End big Wrapper-->
<script>
$(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        
        window.location = "?page={{ interests.previous_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

<script>
	$(document).keydown(function(e) {
    switch(e.which) {
        case 39: // right
        window.location = "?page={{ interests.next_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>
<!--
<script>
$('#category1').jscroll({
	nextSelector:'#next'
});
</script>
-->
<script>
$( "#category_name_1" ).click(function() {
$( "#category1" ).slideToggle( "slow")
});
$( "#category_name_2" ).click(function() {
$( "#category2" ).slideToggle( "slow")
});
$( "#category_name_3" ).click(function() {
$( "#category3" ).slideToggle( "slow")
});
</script>
{% endblock %}