{% extends 'base.html' %}
<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>


{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Interests</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<a href="/interests/edit/" class="half-nav1">Edit Interests</a>
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
		<a href="/interests/create/" class="half-nav2">Add Interests</a>
	</div>
{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}
	<div class='row' id="interests-wrapper">
<!--=============Games=====================================-->
		<div class="category">
			<h2 class="category_name" id="category_name_1">Games</h2>
			<div class="category_hidden" id="category1">
			<h2 class="category_name" id="subcategory_name_1a">Board Games</h2>
			<div class="subcategory" id="subcategory_1a">
			{% for interest in board_games %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1a" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}	
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory 1a -->
			<h2 class="category_name" id="subcategory_name_1b">Card Games</h2>
			<div class="subcategory" id="subcategory_1b">
			{% for interest in card_games %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1b" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory 2-->
		<h2 class="category_name" id="subcategory_name_1c">Video/Computer Games</h2>
		<div class="subcategory" id="subcategory_1c">
		{% for interest in video_games %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
			<form class="interests_form_1c" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
			</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End sub category -->
		<div>
		{% for interest in games %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
			<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
			</form>
			</div><!--Interest-->
		{% endfor %}
		</div>
		</div><!--category 1-->
	</div><!--end games-->
		
		<!--=================Sports=====================================-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Fitness/Sports</h2>
		<div class="category_hidden" id="category2">
		<h2 class="category_name" id="subcategory_name_2a">Team Sports</h2>
		<div class="subcategory" id="subcategory_2a">
		{% for interest in team_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 2a -->
		<h2 class="category_name" id="subcategory_name_2b">Extreme Sports</h2>
		<div class="subcategory" id="subcategory_2b">
		{% for interest in extreme_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 2b -->
		{% for interest in fitness_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_2" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
	</div><!--Category 2-->
		</div><!--End sports-->
	<!--=================Outdoor Activities======================-->
		<div class="category">
			<h2 class="category_name" id="category_name_3">Outdoor Activities</h2>
		<div class="category_hidden" id="category3">
		{% for interest in outdoor_activities %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_3" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
	</div><!--Category 3-->
</div><!--End Category-->
	<!--=================Arts and Music===========================-->
		<div class="category">
			<h2 class="category_name" id="category_name_4">Performing Arts and Music</h2>
		<div class="category_hidden" id="category4">
		<h2 class="category_name" id="subcategory_name_4a">Musical Instruments</h2>
		<div class="subcategory" id="subcategory_4a">
		{% for interest in musical_instruments %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 4a -->
		{% for interest in performing_arts %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_4" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Arts and Crafts======================-->
		<div class="category">
			<h2 class="category_name" id="category_name_5">Arts and Crafts</h2>
		<div class="category_hidden" id="category5">
		{% for interest in arts_crafts %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_5" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Spiritual/Mental Health==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_6">Spiritual/Mental Health</h2>
		<div class="category_hidden" id="category6">
		{% for interest in spiritual %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_6" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Food/Cooking==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_7">Food/Cooking</h2>
		<div class="category_hidden" id="category7">
		{% for interest in food %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_7" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================News/Current Events==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_8">News/Current Events</h2>
		<div class="category_hidden" id="category8">
		{% for interest in news %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_8" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Unlike'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Indoor Activities==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_9">Indoor Activities</h2>
		<div class="category_hidden" id="category9">
		{% for interest in indoor %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End category-->
		</div><!--End category-->
	</div><!--End wrapper-->
</div><!--End big Wrapper-->
<!--
<script>
$('#category1').jscroll({
	nextSelector:'#next'
});
</script>
-->
<script>
$( "#category_name_1" ).click(function() {
$( "#category1" ).slideToggle( "slow")
});
$( "#category_name_2" ).click(function() {
$( "#category2" ).slideToggle( "slow")
});
$( "#category_name_3" ).click(function() {
$( "#category3" ).slideToggle( "slow")
});
$( "#category_name_4" ).click(function() {
$( "#category4" ).slideToggle( "slow")
});
$( "#category_name_5" ).click(function() {
$( "#category5" ).slideToggle( "slow")
});
$( "#category_name_6" ).click(function() {
$( "#category6" ).slideToggle( "slow")
});
$( "#category_name_7" ).click(function() {
$( "#category7" ).slideToggle( "slow")
});
$( "#category_name_8" ).click(function() {
$( "#category8" ).slideToggle( "slow")
});
$( "#category_name_9" ).click(function() {
$( "#category9" ).slideToggle( "slow")
});
$( "#subcategory_name_1a" ).click(function() {
$( "#subcategory_1a" ).slideToggle( "slow")
});
$( "#subcategory_name_1b" ).click(function() {
$( "#subcategory_1b" ).slideToggle( "slow")
});
$( "#subcategory_name_1c" ).click(function() {
$( "#subcategory_1c" ).slideToggle( "slow")
});
$( "#subcategory_name_2a" ).click(function() {
$( "#subcategory_2a" ).slideToggle( "slow")
});
$( "#subcategory_name_2b" ).click(function() {
$( "#subcategory_2b" ).slideToggle( "slow")
});
$( "#subcategory_name_2c" ).click(function() {
$( "#subcategory_2c" ).slideToggle( "slow")
});
$( "#subcategory_name_3a" ).click(function() {
$( "#subcategory_3a" ).slideToggle( "slow")
});
$( "#subcategory_name_3b" ).click(function() {
$( "#subcategory_3b" ).slideToggle( "slow")
});
$( "#subcategory_name_3c" ).click(function() {
$( "#subcategory_3c" ).slideToggle( "slow")
});
$( "#subcategory_name_4a" ).click(function() {
$( "#subcategory_4a" ).slideToggle( "slow")
});
$( "#subcategory_name_4b" ).click(function() {
$( "#subcategory_4b" ).slideToggle( "slow")
});
$( "#subcategory_name_4c" ).click(function() {
$( "#subcategory_4c" ).slideToggle( "slow")
});
$( "#subcategory_name_5a" ).click(function() {
$( "#subcategory_5a" ).slideToggle( "slow")
});
$( "#subcategory_name_5b" ).click(function() {
$( "#subcategory_5b" ).slideToggle( "slow")
});
$( "#subcategory_name_5c" ).click(function() {
$( "#subcategory_5c" ).slideToggle( "slow")
});
$( "#subcategory_name_6a" ).click(function() {
$( "#subcategory_6a" ).slideToggle( "slow")
});
$( "#subcategory_name_6b" ).click(function() {
$( "#subcategory_6b" ).slideToggle( "slow")
});
$( "#subcategory_name_6c" ).click(function() {
$( "#subcategory_6c" ).slideToggle( "slow")
});
$( "#subcategory_name_7a" ).click(function() {
$( "#subcategory_7a" ).slideToggle( "slow")
});
$( "#subcategory_name_7b" ).click(function() {
$( "#subcategory_7b" ).slideToggle( "slow")
});
$( "#subcategory_name_7c" ).click(function() {
$( "#subcategory_7c" ).slideToggle( "slow")
});
$( "#subcategory_name_8a" ).click(function() {
$( "#subcategory_8a" ).slideToggle( "slow")
});
$( "#subcategory_name_8b" ).click(function() {
$( "#subcategory_8b" ).slideToggle( "slow")
});
$( "#subcategory_name_8c" ).click(function() {
$( "#subcategory_8c" ).slideToggle( "slow")
});
$( "#subcategory_name_9a" ).click(function() {
$( "#subcategory_9a" ).slideToggle( "slow")
});
$( "#subcategory_name_9b" ).click(function() {
$( "#subcategory_9b" ).slideToggle( "slow")
});
$( "#subcategory_name_9c" ).click(function() {
$( "#subcategory_9c" ).slideToggle( "slow")
});
</script>

<script>
$(document).ready(function(){
$('.interests_form_1').ajaxForm(function() {
});
$('.interests_form_1a').ajaxForm(function() {
});
$('.interests_form_1b').ajaxForm(function() {
});
$('.interests_form_1c').ajaxForm(function() {
});
$('.interests_form_2').ajaxForm(function() {
});
$('.interests_form_3').ajaxForm(function() {
});
$('.interests_form_4').ajaxForm(function() {
});
$('.interests_form_5').ajaxForm(function() {
});
$('.interests_form_6').ajaxForm(function() {
});
$('.interests_form_7').ajaxForm(function() {
});
$('.interests_form_8').ajaxForm(function() {
});
});
</script>

<script>
$('.btn-lg').click(function(){
	if($(this).val() == "Like it!") {
	$(this).val("Unlike");
	}
	else {
		$(this).val("Like it!");
	}
	$(this).toggleClass('liked');
	$(this).toggleClass('btn-lg');
});
$('.liked').click(function(){
	if($(this).val() == "Like it!") {
	$(this).val("Unlike");
	}
	else {
		$(this).val("Like it!");
	}
	$(this).toggleClass('btn-lg');
	$(this).toggleClass('liked');
});
</script>

{% endblock %}