{% extends 'base.html' %}
<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>


{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Interests</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
		<a href="/interests/create/" class="half-nav2">Add Interests</a>
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
	</div>
	<div class="search_interests">
<form class="navbar-form navbar-left" role="search" action='{% url "search" %}'>
<div class="form-group">
<h5 class="description">{{ interest.description|title }}</h5>
<button type="submit" class="btn btn-default" id="go_button">Search</button>
</div>
</form>
<form class="navbar-form navbar-left" id="navbar_mobile" role="search" action='{% url "search" %}'>
<div class="form-mobile" id="interests_mobile_search">
<input type="text" class="input_mobile" placeholder="Search..." name='q' required>
<button type="submit" class="btn-mobile" id="go_button"><span class='glyphicon glyphicon-search'></span></button>
</div>
</form>
</div><!--End Search Interests -->
</div><!--End Search Interests -->
</div>
{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}
	<div class='row' id="interests-wrapper">
<!--========================CURRENT INTERESTS==============-->
	<div class="category">
			<h2 class="category_name" id="category_name_current">Current Interests</h2>
			<div class="category_hidden" id="category_current">
			{% for interest in user_interests %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'>{% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}	
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory 1a -->
			</div><!--End Category -->
<!--=============Games=====================================-->
		<div class="category">
			<h2 class="category_name" id="category_name_1">Games</h2>
			<div class="category_hidden" id="category1">
			<h2 class="category_name" id="subcategory_name_1a">Board Games</h2>
			<div class="subcategory" id="subcategory_1a">
			{% for interest in board_games %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}	
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory 1a -->
			<h2 class="category_name" id="subcategory_name_1b">Card Games</h2>
			<div class="subcategory" id="subcategory_1b">
			{% for interest in card_games %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory 2-->
		<h2 class="category_name" id="subcategory_name_1c">Video/Computer Games</h2>
		<div class="subcategory" id="subcategory_1c">
		{% for interest in video_games %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
			<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
			</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End sub category -->
			<h2 class="category_name" id="subcategory_name_other_1">Various</h2>
			<div class="subcategory" id="subcategory_other_1">
			{% for interest in games %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory other-->
	</div><!--end games-->
		
	<!--=================Sports=====================================-->
		<div class="category">
			<h2 class="category_name" id="category_name_2">Fitness/Sports</h2>
		<div class="category_hidden" id="category2">
		<h2 class="category_name" id="subcategory_name_2a">Team Sports</h2>
		<div class="subcategory" id="subcategory_2a">
		{% for interest in team_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 2a -->
		<h2 class="category_name" id="subcategory_name_2b">Extreme Sports</h2>
		<div class="subcategory" id="subcategory_2b">
		{% for interest in extreme_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 2b -->
		<h2 class="category_name" id="subcategory_name_2c">Combat Sports</h2>
		<div class="subcategory" id="subcategory_2c">
		{% for interest in combat_sports %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 2c -->
		<h2 class="category_name" id="subcategory_name_other_2">Various</h2>
			<div class="subcategory" id="subcategory_other_2">
			{% for interest in fitness_sports %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory other-->
		</div><!--End sports-->
	<!--=================Outdoor Activities======================-->
		<div class="category">
			<h2 class="category_name" id="category_name_3">Outdoor Activities</h2>
		<div class="category_hidden" id="category3">
		{% for interest in outdoor_activities %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_1" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
	<!--=================Arts and Music===========================-->
		<div class="category">
			<h2 class="category_name" id="category_name_4">Performing Arts and Music</h2>
		<div class="category_hidden" id="category4">
		<h2 class="category_name" id="subcategory_name_4a">Musical Instruments</h2>
		<div class="subcategory" id="subcategory_4a">
		{% for interest in musical_instruments %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Subcategory 4a -->

		<h2 class="category_name" id="subcategory_name_other_4">Various</h2>
			<div class="subcategory" id="subcategory_other_4">
			{% for interest in performing_arts %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'> {% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}
				</form>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory other-->
			</div>
		</div><!-- End arts and music -->
		<!--=================Arts and Crafts======================-->
		<div class="category">
			<h2 class="category_name" id="category_name_5">Arts and Crafts</h2>
		<div class="category_hidden" id="category5">
		{% for interest in arts_crafts %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_1" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Spiritual/Mental Health==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_6">Spirituality</h2>
		<div class="category_hidden" id="category6">
		{% for interest in spiritual %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_1" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Food/Cooking==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_7">Food/Cooking</h2>
		<div class="category_hidden" id="category7">
		{% for interest in food %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_1" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================News/Current Events==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_8">News/Current Events</h2>
		<div class="category_hidden" id="category8">
		{% for interest in news %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_1" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End Category-->
		</div><!--Category 1-->
		<!--=================Indoor Activities==============-->
		<div class="category">
			<h2 class="category_name" id="category_name_9">Indoor Activities</h2>
		<div class="category_hidden" id="category9">
		{% for interest in indoor %}
		<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
		<form method='POST' class="interests_form_1" action='{% url "save_interest" interest.id %}'> {% csrf_token %}
			{% if interest in user_interests %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='liked' value='Unlike'>
			{% else %}
			<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
			<input type='submit' id="like" class='btn-lg' value='Like it!'>
			{% endif %}
		</form>
		</div><!--End Interest-->
		{% endfor %}
		</div><!--End category-->
		</div><!--End category-->
	</div><!--End wrapper-->
</div><!--End big Wrapper-->
<!--
<script>
$('#category1').jscroll({
	nextSelector:'#next'
});
</script>
-->
<!-- Interests js -->
<script src="{{ STATIC_URL }}js/interests/like_button.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/interests/toggle_category.js" type="text/javascript"></script>
{% endblock %}