{% extends 'base.html' %}
<head>
	<link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet">
	
</head>


{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Interests</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<p id="tertiary_head">You can only have 10 interests, so choose carefully!</p>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
		<a href="/interests/create/" class="half-nav2">Create Interests</a>
		<span class="glyphicon glyphicon-thumbs-up" id="tertiary-icon"></span>
	</div>

{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="interests_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}
	<div class='row' id="interests-wrapper">
<!--========================CURRENT INTERESTS==============-->
	<div class="category">
			{% for interest in results %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
				<form class="interests_form_1" method='POST' action='{% url "save_interest" interest.id %}'>{% csrf_token %}
				{% if interest in user_interests %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='liked' value='Unlike'>
				{% else %}
				<input type='hidden' value='{{ interest.id }}' name='interest_id'/>
				<input type='submit' id="like" class='btn-lg' value='Like it!'>
				{% endif %}	
				</form>
			</div><!--End Interest-->
			{% endfor %}
<div class="search_interests">
<form class="navbar-form navbar-left" role="search" action='{% url "search_interests" %}'>
<div class="form-group">
<h5 class="description">{{ interest.interest }}</h5>
<button type="submit" class="btn btn-default" id="go_button">Search</button>
<input type="text" class="input_mobile" placeholder="Search..." name='q' required>
</div>
</form>
<form class="navbar-form navbar-left" id="navbar_mobile" role="search" action='{% url "search_interests" %}'>
<div class="form-mobile" id="interests_mobile_search">
<input type="text" class="input_mobile" placeholder="Search..." name='q' required>
<button type="submit" class="btn-mobile" id="go_button"><span class='glyphicon glyphicon-search'></span></button>
</div>
</form>

</div><!--End Search Interests -->
</div><!--End Search Interests -->
</div>
	</div><!--End wrapper-->
	<form class="form-wrapper cf" role="search" action='{% url "search_interests" %}'>
        <input type="text" placeholder="Search interests..." required>
        <button type="submit">Search</button>
    </form> 
</div><!--End big Wrapper-->
<!-- Interests js -->

{% if num_of_interests = 0 %}
<script>
var liked = 0;
</script>
{% elif num_of_interests = 1 %}
<script>
var liked = 1;
</script>
{% elif num_of_interests = 2 %}
<script>
var liked = 2;
</script>
{% elif num_of_interests = 3 %}
<script>
var liked = 3;
</script>
{% elif num_of_interests = 4 %}
<script>
var liked = 4;
</script>
{% elif num_of_interests = 5 %}
<script>
var liked = 5;
</script>
{% elif num_of_interests = 6 %}
<script>
var liked = 6;
</script>
{% elif num_of_interests = 7 %}
<script>
var liked = 7;
</script>
{% elif num_of_interests = 8 %}
<script>
var liked = 8;
</script>
{% elif num_of_interests = 9 %}
<script>
var liked = 9;
</script>
{% elif num_of_interests = 10 %}
<script>
var liked = 10;
$('.btn-lg').attr('disabled','disabled')
</script>
{% endif %}
<script src="{{ STATIC_URL }}js/interests/like_button.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}js/interests/toggle_category.js" type="text/javascript"></script>
{% endblock %}
