{% extends 'base.html' %}
<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>


{% block content %}
<div id="view_container">
	<div class="col-md-1" id="secondary_navbar">
        <h1> {{ single_user.username }}'s Interests</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
       <a href="javascript:history.back()">Back</a>
    </div>
</div>	
<div class="row" >
  <div class='col-lg-10 col-12' id="interests-wrapper">
{% if messages %}
<div class='row'>
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
</div>
{% endif %}
	
	<div class="category" id="category_current">
			{% for interest in interests %}
			<div class='col-sm-4' id="interest">
			<h4>{{ interest.interest }}</h4>
			</div><!--End Interest-->
			{% endfor %}
			</div><!--End Subcategory 1a -->
{% endblock %}