{% extends 'base.html' %}
{% block content %}

{% if questions.has_next %}
{% endif %}

<div id="big_wrapper">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Personality</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<span class="glyphicon glyphicon-question-sign" id="tertiary-icon"></span>
     	<a href="/questions/edit/">Edit Answers</a>
     	<span class="glyphicon glyphicon-question-sign" id="tertiary-icon"></span>
	</div>
{% if questions_left == 0%}
	<h3 id="no_pictures">You've answered all of the questions available right now! <a href="/discover/?page=1" id="upload_more_pictures"> Now check out how you match up with other users!</a></h3>
{% endif %}

{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="questions_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}

<div class="pagination">
	<span class="step-links">
		<ul class="pager">
			<div class="directions">
				{% if questions.has_previous %}
					<li class="previous"><a href="?page={{ questions.previous_page_number }}">&larr;</a></li>
				{% endif %}

				{% if questions.has_next %}
					<li class="next" id="next" ontouchstart="touchStart(event,'main_interests');" ontouchend="touchEnd(event);" ontouchmove="touchMove(event);" ontouchcancel="touchCancel(event);"><a href="?page={{ questions.next_page_number }}">&rarr;</a></li>
				{% endif %}
			</div>
		</ul>
	</span>
</div>


<div class='row' id="question-wrapper">
	{% for question in questions %}
		<h3>{{ question }}</h3>

		<form id="questions_all" method='POST' action=''> {% csrf_token %}
			<input type='hidden' value='{{ question.id }}' name='question_id'/>

		<div class="answers_all">
		{% for ans in question.answer_set.all %}
			<label id="one">
			<input id="answer" class="all" type='radio' required=
			'required' value='{{ ans }}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='answer'> {{ ans }} 
			</label>
		{% endfor %}
		<!-- Submit Button -->
	</form>
	</div>
	{% endfor %}
	

</div>
</div>
</div>

<script>
        $(function () {
            $('.rating-enable').click(function () {
                
                $('#example-b').barrating('show', {
                    readonly:false,

                });

                $('.rating-disable').removeClass('deactivated');
            });
            $('.rating-enable').trigger('click');
        });
</script>

{% if questions.has_previous %}
<script>

$(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        
        window.location = "?page={{ questions.previous_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>
<script>
$(function() {
    $("#myfriend").swipe({
        swipeLeft:function(event, direction, distance, duration, fingerCount, fingerData) {
            window.location.href =
                "?page={{ questions.next_page_number }}";
        }
    });
});
</script>

{% endif %}
{% if questions.has_next %}

<script>
	$(document).keydown(function(e) {
    switch(e.which) {
        case 39: // right
        window.location = "?page={{ questions.next_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>
<script>
$(function() {
    $("#myfriend").swipe({
        swipeLeft:function(event, direction, distance, duration, fingerCount, fingerData) {
            window.location.href =
                "?page={{ questions.next_page_number }}";
        }
    });
});
</script>
{% endif %}

<script>
$('input[type=radio]').click(function(){
	$(this).closest("form").submit();
});
</script>

{% endblock %}