{% extends 'base.html' %}
<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>

{% block content %}
<div id="big_wrapper">
<div class="row" id="margin_wrapper">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Personality</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<span class="glyphicon glyphicon-question-sign" id="tertiary-icon"></span>
     	<a href="/questions/edit/">Edit Answers</a>
     	<span class="glyphicon glyphicon-question-sign" id="tertiary-icon"></span>
	</div>
</div>

{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="questions_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}


	<div class='row' id="interests_intro">
		<div class='interests_intro'>
		</div>
	</div>
<div class='row' id="question-wrapper">
	{% for question in questions %}
		<h3>{{ question }}</h3><p>

		<form method='POST' action=''> {% csrf_token %}
		How important is this question to you? 
		<br><br>
			<select name="importance_level">
					{% for imp in importance_levels %}
					<option   {% for abc in question.useranswer_set.all %} {% if abc.importance_level == imp and abc.user == request.user %} selected="selected" value="{{ imp }}"{% endif %} {% endfor %}> {{ imp }}</option>
					
					{% endfor %}
				</select>	
				
				
			<input type='hidden' value='{{ question.id }}' name='question_id'/>

		<div class="question_answers">
		{% for ans in question.answer_set.all %}
			<input type='radio' required=
			'required' value='{{ ans }}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='answer'> {{ ans }} <br/>
		{% endfor %}
		</div>
		</p> <p>
		<div class="interest_buttons">
		<!-- Submit Button -->
		<input type='submit' class='btn-lg' value='Save'>
		</div>
	</form>
	{% endfor %}

<div class="pagination">
	<span class="step-links">
		<ul class="pager">
			<div class="directions">
				{% if questions.has_previous %}
					<li class="previous"><a href="?page={{ questions.previous_page_number }}">&larr; Previous</a></li>
				{% endif %}

				{% if questions.has_next %}
					<li class="next"><a href="?page={{ questions.next_page_number }}">Next &rarr;</a></li>
				{% endif %}
			</div>
		</ul>
	</span>
</div>
</div>
</div>
<script>
$(document).ready(function(){
	$('.personality_importance input').each(function(){
		var self = $(this),
			label = self.next(),
			label_text = label.text();

		label.remove();
		self.iCheck({
			checkboxClass: 'icheckbox_line-blue',
			radioClass: 'iradio_line-blue',
			insert: '<div class="icheck_line-icon"></div>' + label_text
		});
	});
});
</script>
<script>
$(document).ready(function(){
	$("input").click(function(){
		$('input').attr('name', 'check');
	);
};
</script>
{% endblock %}