<head><link href="/static/css/interests.css" rel="stylesheet"></head>
{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Questions</h1>
	</div>
</div>
<div class="container">
  <div class='col-lg-10 col-12'>
	<div class="contain">
		<h1>Make a Question</h1>

		<form method='POST' action=''>{% csrf_token %}
		{{ q_form.as_p }}
		{{ a_form.as_p }}
		<input type='submit' value="Create" />
		</form>

{% endblock %}
</div>
</div>	
</div>