<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>
{% extends "base.html" %}
{% block jquery %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Create Questions</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	<a href="/questions/edit/">Edit Questions</a>
     	<span class="glyphicon glyphicon-question-sign" id="tertiary-icon"></span>
     	<a href="/questions/">Question Home</a>
	</div>
</div>
<div class="container">
  <div class='col-lg-10 col-12'>
	<div class="contain">
		<form method='POST' action=''>{% csrf_token %}
		{{ q_form.as_p }}
		<div class="answer_area">
		{{ a_form.as_p }}
		<a href="#" id="answers_appear0">Add Answer</a>
		<div class="more_answers">
			<div id="more_answers_appear1">
				{{ a_form.as_p }}
				<a href="#" id="answers_appear1">Add Answer</a>
			</div>
			<div id="more_answers_appear2">
				{{ a_form.as_p }}
				<a href="#" id="answers_appear2">Add Answer</a>
			</div>
			<div id="more_answers_appear3">
				{{ a_form.as_p }}
			</div>
			<a href="#" id="answers_remove1">Remove Answer</a>
			<a href="#" id="answers_remove2">Remove Answer</a>
			<a href="#" id="answers_remove3">Remove Answer</a>	
		</div>
		</div>
		<input type="submit" class="btn.default" value="Create" />
		</form>
	</div>
</div>	
</div>

<script>
$(document).ready(function(){
	$("#answers_appear0").click(function(){
	  $("#more_answers_appear1").show()
	  $(this).hide()
	  $("#answers_remove1").show()
	});
	$("#answers_appear1").click(function(){
	  $("#more_answers_appear2").show()
	  $(this).hide()
	  $("#answers_remove1").hide()
	  $("#answers_remove2").show()

	});
	$("#answers_appear2").click(function(){
	  $("#more_answers_appear3").show()
	  $(this).hide()
	  $("#answers_remove2").hide()
	  $("#answers_remove3").show()
	});
	$("#answers_remove3").click(function(){
		$("#more_answers_appear3").hide()
		$(this).hide()
		$("#answers_remove2").show()
		$("#answers_appear2").show()
	});
	$("#answers_remove2").click(function(){
		$("#more_answers_appear2").hide()
		$(this).hide()
		$("#answers_remove1").show()
		$("#answers_appear1").show()
	});
	$("#answers_remove1").click(function(){
		$("#more_answers_appear1").hide()
		$(this).hide()
		$("#answers_appear0").show()
		
	});
});

 </script>
{% endblock %}