<head><link href="/static/css/questions.css" rel="stylesheet"></head>
{% extends 'base.html' %}

{% block content %}

{% if messages %}
<div class='row'>
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
</div>
{% endif %}

<h3>Edit your questions</h3>

<div class='row'>
	{% for question in questions %}
		<h3>{{ question }}</h3><p>
		<form method='POST' action=''> {% csrf_token %}
			<input type='hidden' value='{{ question.id }}' name='question_id'/>
		{% for ans in question.answer_set.all %}
			<input type='radio' required=
			'required' value='{{ ans}}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='answer'> {{ ans }} <br/>
		{% endfor %}
		How important is this to you? <select required='required' name='importance_level'>
			{% for imp in importance_levels %}
			<option {% for abc in question.useranswer_set.all %} {% if abc.importance_level == imp and abc.user == request.user %} selected='selected' {% endif %} {% endfor %} value='{{ imp }}'>{{ imp }}</option>
			{% endfor %}
		</select></p> <p>
	
		<div class="interest_buttons">
		<!-- Submit Button -->
		<input type='submit' class='btn-lg' id="questions_button" value='Save'>
		<!--Skip Button -->
		
		</div>
	</form>
	{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if questions.has_previous %}
			<a href="?page={{ questions.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current">
			Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
		</span>

		{% if questions.has_next %}
			<a href="?page={{ questions.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
</div>

{% endblock %}