{% extends 'base.html' %}

<head><link href="{{ STATIC_URL }}css/interests.css" rel="stylesheet"></head>


{% block content %}
<div id="big_wrapper">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Edit Answers</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
        {% if questions.has_previous %}
		<a id="arrow" href="?page={{ questions.previous_page_number }}"><span class="glyphicon glyphicon-circle-arrow-left" id="tertiary-icon"></span></a>
        {% else %}
        <a id="arrow" class="invisible" href=""><span checklass="glyphicon glyphicon-circle-arrow-left" id="tertiary-icon"></span></a>
        {% endif %}
        
     	<a href="/questions/edit/">Edit Answers</a>
        {% if questions.has_next %}
     	<a id="arrow" href="?page={{ questions.next_page_number }}"><span class="glyphicon glyphicon-circle-arrow-right" id="tertiary-icon"></span></a>
        {% else %}
        <a id="arrow" class="invisibile" href=""><span class="glyphicon glyphicon-circle-arrow-right" id="tertiary-icon"></span></a>
        {% endif %}
	</div>
{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="questions_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}
<div id="question-wrapper">
	{% for question in questions %}
		<h3>{{ question }}</h3><p>
		<form id="questions_edit_form"  method='POST' action=''> {% csrf_token %}
			<input type='hidden' value='{{ question.id }}' name='question_id'/>	
			<br>
		<div>
		{% for ans in question.answer_set.all %}
		<label id="one">
			<input type='radio'  required=
			'required' value='{{ ans }}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='answer'> {{ ans }} 
		</label>
		{% endfor %}
		</div>
	</form>
	{% endfor %}

</div>
</div>
</div>

{% if questions.has_previous %}
<script>

$(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        
        window.location = "?page={{ questions.previous_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

{% endif %}
{% if questions.has_next %}

<script>
	$(document).keydown(function(e) {
    switch(e.which) {
        case 39: // right
        window.location = "?page={{ questions.next_page_number }}";
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

{% endif %}

<script type="text/javascript">
    function customRadio(radioName){
        var radioButton = $('input[name="'+ radioName +'"]');
        $(radioButton).each(function(){
            $(this).wrap( "<span class='custom-radio'></span>" );
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
        });
        $(radioButton).click(function(){
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
            $(radioButton).not(this).each(function(){
                $(this).parent().removeClass("selected");
            });
        });
    }
    $(document).ready(function (){
        customRadio("answer");
    })
</script>

<script>
$('input[type=radio]').click(function(){
	$(this).closest("form").submit();
});
</script>

<script>
$(document).ready(function(){
$('#questions_edit_form').ajaxForm(function() {
	$(".tertiary_hidden").attr('class', 'tertiary_show');
})
});
</script>
{% endblock %}