<head><link href="/static/css/interests.css" rel="stylesheet"></head>
{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Edit Questions</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
     	<a href="/questions/create/">Add Question</a>
     	<span class="glyphicon glyphicon-question-sign" id="tertiary-icon"></span>
     	<a href="/questions/">Questions Home</a>
	</div>
</div>
<div class="row">
  <div class='col-lg-10 col-12'>
{% if messages %}
<div class='row'>
                <ul class="messages">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
</div>
{% endif %}
<div class='row' id="interests-wrapper">

	{% for question in questions %}
		<h3>{{ question }}</h3><p>
		<form method='POST' action=''> {% csrf_token %}
			<input type='hidden' value='{{ question.id }}' name='question_id'/>
		{% for ans in question.answer_set.all %}
			<input type='radio' required=
			'required' value='{{ ans}}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='answer'> {{ ans }} <br/>
		{% endfor %}
		Importance: <select required='required' name='importance_level'>
			{% for imp in importance_levels %}
			<option {% for abc in question.useranswer_set.all %} {% if abc.importance_level == imp and abc.user == request.user %} selected='selected' {% endif %} {% endfor %} value='{{ imp }}'>{{ imp }}</option>
			{% endfor %}
		</select></p> <p>
	
		<div class="interest_buttons">
		<!-- Submit Button -->
		<input type='submit' class='btn-lg' value='Save'>
		</div>
	</form>
	{% endfor %}

<div class="pagination">
	<span class="step-links">
		<ul class="pager">
		{% if questions.has_previous %}
			<li class="previous"><a href="?page={{ questions.previous_page_number }}">&larr; Previous</a></li>
		{% endif %}
		<span class="current">
			Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
		</span>

		{% if questions.has_next %}
			<li class="next"><a href="?page={{ questions.next_page_number }}">Next &rarr;</a></li>
		{% endif %}
		</ul>
	</span>
</div>
</div>
</div>

{% endblock %}
</div>
</div>