{% extends 'base.html' %}
{% block content %}

{% if questions.has_next %}
{% endif %}

<div id="big_wrapper">
<div class="row" id="margin_wrapper">
	<div class="col-md-1" id="secondary_navbar">
        <h1>Personality</h1>
	</div>
	<div class="col-md-1" id="tertiary_navbar">
		<p></p>
	</div> 
</div>

{% if messages %}
<div class="row">
<div class="col-md-1" id="tertiary_navbar">
    {% for message in messages %}
    <p id="questions_messages"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>
{% endif %}


	<div class='row' id="interests_intro">
		<div class='interests_intro'>
		</div>
	</div>
<div class='row' id="question-wrapper">
	{% for question in questions %}
		<h3>{{ question }}</h3>

		<form method='POST' action=''> {% csrf_token %}
			<input type='hidden' value='{{ question.id }}' name='question_id'/>

		<div class="question_answers" id="question_answers">
		{% for ans in question.answer_set.all %}
		<label>
			<input type='radio' name='answer' required=
			'required' value='{{ ans }}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} > {{ ans }} 
		</label>
		<br/>
		{% endfor %}
		</div>
		<br>
		
		<br><br><br>

		<!-- Submit Button -->
		<input type='submit' class='btn-lg' value='Save'>
	
	</form>	
	{% endfor %}
</div>
</div>
</div>

<div class="modal fade" id="new_user_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Questions</h4>
      </div>
      <div class="modal-body">
        <p>After answering these last few questions, your profile will be completed! (No one else will be able to see your answers.)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
function customRadio(radioName){
    var radioButton = $('input[name="'+ radioName +'"]');
    $(radioButton).each(function(){
        $(this).wrap( "<span class='custom-radio'></span>" );
        if($(this).is(':checked')){
            $(this).parent().addClass("selected");
        }
    });
    $(radioButton).click(function(){
        if($(this).is(':checked')){
            $(this).parent().addClass("selected");
        }
        $(radioButton).not(this).each(function(){
            $(this).parent().removeClass("selected");
        });
    });
}
$(document).ready(function (){        
    customRadio("answer");
})
</script>

<script type="text/javascript">
    function customRadio(radioName){
        var radioButton = $('input[name="'+ radioName +'"]');
        $(radioButton).each(function(){
            $(this).wrap( "<span class='custom-radio'></span>" );
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
        });
        $(radioButton).click(function(){
            if($(this).is(':checked')){
                $(this).parent().addClass("selected");
            }
            $(radioButton).not(this).each(function(){
                $(this).parent().removeClass("selected");
            });
        });
    }
    $(document).ready(function (){
        customRadio("answer");
    })
</script>

<script src="{{ STATIC_URL }}js/personality_cookie.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/new_user_personality.js" type="text/javascript"></script>

{% endblock %}