<head><link href="/static/css/questions.css" rel="stylesheet"></head>
{% extends 'base.html' %}

{% block content %}



<div class='row'>
	{% for question in questions %}
	{% for answer in answers %}
	{% for match_answer in match_answers %}
		<h3>{{ question }}</h3><p>
		<form method='' action=''> {% csrf_token %}
			<input type='hidden' value='{{ question.id }}' />
		{% for ans in question.answer_set.all %}
			<input type='radio' required=
			'required' value='{{ ans}}' {% for abc in ans.useranswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='answer'> {{ ans }} <br/>
		{% endfor %}
		How important is this to them? 
		{{ answer.importance_level }}
	<h4>Ideal Answer <small>How you would like them to answer</small></h4>
	{% for ans in question.answer_set.all %}
			<input type='radio' required='required' value='{{ ans}}' {% for abc in ans.matchanswer_set.all %} {% if abc and abc.user == request.user %} checked='checked' {% endif %} {% endfor %} name='match_answer'> {{ ans }} <br/>
		{% endfor %}
		How important is your answer to them? 
		{{ match_answer.importance_level }}

	</form>
	{% endfor %}
	{% endfor %}
	{% endfor %}

<div class="pagination">
	<span class="step-links">
		{% if questions.has_previous %}
			<a href="?page={{ questions.previous_page_number }}">previous</a>
		{% endif %}
		<span class="current">
			Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
		</span>

		{% if questions.has_next %}
			<a href="?page={{ questions.next_page_number }}">next</a>
		{% endif %}
	</span>
</div>
</div>

{% endblock %}