.left{
	max-width: 25%;
	
}

.center{
	margin-top:-10%;
}

h3, h1{
	font-family: 'Merriweather', serif!important;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(/static/img/landing/huge_city_light_compressed.jpg);
    min-height:300px;
    height:100%;
}