body{
	background-color: #fff;
	margin-top: 40px;
}

.entire-wrapper{
	width: 100%;
}

#view_container{
	width:90%;
}

#home-only .col-sm-4{
	min-width:175px;
}
p{
	font-family: "Droid serif", serif;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.ui-tooltip-content{
	margin-left:0px;
	color: #084c8d;
	background-color: #d5d5d5;
}
.ui-tooltip{
	background-color:#d5d5d5!important;
	border: 2px #084c8d solid!important;
}
.btn-default, .btn .btn-default{
	background-color: #d5d5d5!important;
	color: #084c8d!important;
	border: none;	
}

.btn.btn-info.btn-sm, .btn-lg, .pager li a, #go_button, .btn-success{
	background-color: #d5d5d5!important;
	color: #084c8d!important;
	border: #084c8d 2px solid;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	font-weight:700;
}

.pager{
	margin-top:30px;
}

.btn-lg{
	width:180px;
}

tr, td{
	color: #084c8d;
}


.btn-success{
	width:200px;
	margin-top:10px;
	font-size:16px;
}

.pagination{
	width: 50%!important;
}
.btn.btn-info.btn-sm:hover, .btn-lg:hover, .pager li a:hover, #go_button, .btn-success:hover{
  	color: #d5d5d5!important;
  	background-color:#084c8d!important;
  	border: #d5d5d5 2px solid;
}
.btn.btn-default.btn:hover{
	-webkit-transform: scale(1.05);
  	transform: scale(1.05);
  	color: #084c8d!important;
}
.col-lg-10.col-12{
	width: 100%;
}
.col-md-1{
	width: 100%;
	min-width: 280px;
}
h1, h2, h3, h5, a{
	font-family: 'Open Sans', sans-serif;
}
h1{
	color: #084c8d!important;
	letter-spacing:.2em;
    font-weight: 500!important;
}

p, form{
	font-family: 'Gentium Basic', serif;
	outline:none;
}

a:active, a:focus{
	outline:none;
}
li:active, li:focus{
	outline:none!important;
}
input::-moz-focus-inner{
	border:0;
}

h1{
	font-weight: 700;
	text-transform: none!important;
}

input{
}

.form-control{
	color:black;
}
input{
	font-family: "Droid Serif", serif;
}

/* symbol on sidebar */
.pull-right{
}
.glyphicon{
	font-size:1em;
	padding-right: 1em;
}

.body_section{
	background-color:#222;
	border-radius: 0%;
	color:white;
}

.col-lg-4 a{
	color: black;
	font-size: 1.2em;
}

.col-lg-4 a:hover{
}

/* Registration and General Form Improvement */

form {
	width: 80%;
	margin: 0 auto;
}

/* all.html */
#myfriend{
	width: 50%;
	height:auto;
}

#myfriend a{
	color: black;
	font-size: 1.125em;
}

#myfriend a:hover{
}

#myfriend #match{
	font-size: 1.125em;
}

a:hover{
	text-decoration: none;
}
 /* Media Queries */

 @media (max-width: 650px) {
 	#myfriend a{
	font-size: 1em;
	}
	#myfriend #match{
	font-size: 1em;
	}
}

@media (min-width: 1200px){
	#myfriend{
		width: 400px;
		height:auto;
	}
}

@media (min-width: 1000px){
	.container{
		margin-left: 150px;
	}
}
@media (min-width: 985px){
@media (min-width: 1150px){
	.container{
		margin-left: 150px;
	}
}

@media (max-width: 480px){
	.messages{
		margin-left:40px;
	}
}

*:focus{
	outline:0;
}

@media (max-width: 905px) {
	.container{
		margin-left: 120px;
	}

@media (max-width: 600px) {
  h1{
  font-size: 1.2em;
}
  a{
  	font-size:.9em;
  }
}

