.reset_button, .login_button{
	background-color: white;
	transition: background-color 0.5s ease 0s;
	margin: 5px 5px 5px 5px;
	padding-top: 8px;
	padding-bottom:10px;
	line-height: 30px;
	border: 2px solid #1FBAD6;
	color: #1FBAD6!important;
	text-align: center;
	height: 50px;
	width: 150px;
	text-decoration: none;
	outline: medium none;
	display: inline-block;
	border-radius: 25px;
	cursor: pointer;
	font-size:14px;
	font-weight:500;
}
.reset_button{
	cursor:default;
}
.login_button:hover{
	background-color: #1FBAD6;
	transition: background-color 0.5s ease 0s;
	color: white!important;
}

.largeLabel{
	margin-bottom: 10px!important;
}

.not_a_button{
	color:#1FBAD6!important;
}

#go_button, #upload_button{
	width: 40px;
	background: #1FBAD6!important;
	font-weight: 300;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	z-index:1000;
}

.btn-lg, .btn-success, #view_buttons{
	width: 100px;
	background: #1FBAD6!important;
	color: white;
	border: 0 none;
	cursor: pointer;
	border: 1px solid #CCC;
	border-radius: 4px;
	margin-top: 20px;
	padding: 4px 10px;
	z-index:1000;

}

.btn-lg a{
	color:white;
}
.btn-lg a:hover{
	color:white;
}
#view_info, #view_buttons{
	font-size:14px;
	width:100px;
	margin-top:20px;
	text-align: center;
	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
}

.btn-lg:hover, .btn-lg:focus, .btn-success:hover, .btn-success:focus{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
}

#pictures input[type=submit]:hover, .btn-info.btn-sm:hover, .btn-sm:hover, .btn-success:hover{
	background-color:#1FBAD6!important;
	color:white!important;
}
#go_button:hover, #go_button:focus, #upload_button:hover, #upload_button:focus{
 	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
}
.pager li a:hover{
	color:#1fbad6!important;
}

#delete_message_button{
	width: 80px;
	background: #1FBAD6!important;
	font-weight: 300;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	z-index:1000;
	padding:5px 5px 5px 5px;
	margin:2px 2px 2px 2px;
}
#delete_message_button:hover{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
}
.pager{
	margin-top:30px;
}

#pictures input[type=submit], .btn.btn-info.btn-sm{
	background-color: white!important;
	color: black!important;
	border: 1px solid #111;
	border-radius:0px;
	font-weight: 100;
	-webkit-transition-duration: .5s;
	-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
.pager li a{
	background-color: white!important;
	color: black!important;
	border: none;
	border-radius:0px;
	font-weight: 100;
	-webkit-transition-duration: .5s;
	-transition-duration: .5s;
	-moz-transition-duration: .5s;
	font-size:3rem;
}

.btn-lg{
	width:180px;
}

#regenerate{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #1FBAD6;
	background: white;
	font-weight: 300;
	color: #1fbad6!important;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 5px 5px;
	margin: 5px 5px;
	z-index:1000;
	font-size:1.25em;
}

.buttons{
	margin-left: 1%;
}

.btn-success{
	width:200px;
	margin-top:10px;
	font-size:16px;
}
#flip_card{
	margin-top:20px;
}

/* Profile */
#buttons_row{
	text-align: center;
}
#buttons_row .btn:hover, #buttons_row .btn:active, #buttons_row .btn:focus {
	color:#1FBAD6;
	background-color:white;
}

#buttons_row #friend_button{
	background: url(/static/img/profile/bar_friends_dark.jpg);
	background-size:cover;
	height:150px;
	border-radius:50%;
	float:left;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#buttons_row #friend_button:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}
.buttons a p{
	line-height: 135px!important;
	margin-top:0px!important;
}


#buttons_row #pictures_button{
	background: url(/static/img/profile/camera_stock_dark.png);
	background-size:cover;
	height:150px;
	border-radius:50%;
	float:right;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	margin-right:10px;
}

#buttons_row #pictures_button:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

#buttons_row #message_button, #buttons_row #message_button_not_friends{
	background: url(/static/img/profile/iphone_dark.png);
	background-size:cover;
	height:150px;
	border-radius:50%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#buttons_row #message_button:hover, #skip_button:hover, #buttons_row #message_button_not_friends:hover{
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-ms-transform:scale(1.05);
	-o-transform:scale(1.05);
	transform:scale(1.05);
}

.user_profile_buttons{
	margin-top:20px;
}

#message_button, #friend_button, #skip_button, #pictures_button, #buttons_row #message_button_not_friends{
	width: 150px;	
}

#discover_buttons{
	margin-top:0px!important;
}

#discover_buttons #friend_button{
	background: none!important;
	background-color: #5ad75a!important;
	box-shadow: 4px 4px 10px rgba(0,0,0,1);
}
#discover_buttons #friend_button:hover, #skip_button:hover{
	color:white!important;
}

#discover_buttons #skip_button{
	background-color: #cc3232;
	background-size:cover;
	height:150px;
	border-radius:50%;
	float:right!important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	margin-right:10px;
	box-shadow: 4px 4px 10px rgba(0,0,0,1);
}

@media(max-width: 560px){
	.user_profile_buttons #message_button, .user_profile_buttons #friend_button,.user_profile_buttons #pictures_button,.user_profile_buttons #message_button_not_friends{
		width:120px;
		height:120px!important;
	}
	.buttons{
		margin-left:0%!important;
	}
	.user_profile_buttons .buttons a p{
		line-height:100px!important;
	}
}


@media (max-width: 450px) {
	#view_info{
		padding:10px 0px 10px 0px;
		width:100%;
		font-size:1.5rem;
	}
	#view_buttons{
		padding:10px 0px 10px 0px;
		width:100%;
		font-size:1.5rem;
	}
}

@media(max-width: 420px){
	.user_profile_buttons #message_button, #skip_button, .user_profile_buttons #friend_button,.user_profile_buttons #pictures_button,.user_profile_buttons #message_button_not_friends{
		margin:0 auto;
		float:none!important;
	}
}

@media(max-width: 355px){
	#message_button, #friend_button, #pictures_button, #skip_button, #message_button_not_friends{
		width:120px!important;
		height:120px!important;
	}
	.buttons a p{
		line-height:100px!important;
	}
}

