.user_card{
	width: 700px;
	text-align: center;
	margin:20px auto;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
	padding-top:20px;
	padding-bottom:50px;
}

#information span{
	font-size:24px;
	color: #979797;
}
#discover_next{
	font-size:20px;
	padding:13px 5px;
	display:block;
	margin:0 auto;
	text-align:center;
}
#discover_next:hover, #discover_next:focus{
	color:white;
}
#swipe_left{
	color:#1fbad6;
	text-align: center;
}

@media (max-width: 700px) {
	.user_card{
	width: 100%;
	text-align: center;
	margin:20px auto;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
	padding-top:20px;
	padding-bottom:20px;
}

}