.contact_form_wrapper{
	width:90%;
	margin-left:100px;
	min-height:500px;
	text-align:center;
}
#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

.contact_form_wrapper{
	width:400px;
	margin: 0 auto;

}
#form-div {
	background-color: black;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;

  margin: 30px auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #1fbad6;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#1fbad6 solid 3px;
}


#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
	width:100%;
	color: #1fbad6;
}

.contact_form_wrapper textarea {
    width: 350px;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.contact_form_wrapper input:hover, textarea:hover,
.contact_form_wrapper input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #1FBAD6;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top:-4px;
  	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #1FBAD6;
}
	
.submit:hover {
	color: #084c8d;
}
	
.ease{
	width: 0px;
	height: 77px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}
#contact_header{
	text-align: center;
}
.features{
	text-align: center;
	width:100%;
	max-width:600px;
	margin:0 auto;
}
.features li{
	display:inline-block;
	width:30%;
}

@media only screen and (max-width: 580px) {
	#form-div{
		margin-right: 3%;
		padding-left: 3%;
		padding-right: 3%;
		width:100%;
		margin-left:0px;
		min-width:300px;
	
	}
	.contact_form_wrapper{
	width:100%;
	margin-left:0px;
	margin-right:0px;
	min-height:500px;
	text-align:center;
	padding-left:0px;
	padding-right:0px;
	}
}

@media only screen and (max-width: 677px){
	#form-div{
	
	}
}