html, ul, ul li, li, li a, .btn{
	font-family: 'Open Sans', sans-serif;
}
.tab-content{
	min-height: 500px;
}

#form_container label:first-child{
	width:100%;
	font-size:18px;
	color: #084c8d;
}

#form_container a{
	color: #084c8d;
}
#form_container{
	margin-bottom:10px;
}

#home .btn{
	margin-left:80px;
}
#pictures_2{
	display:none;
}
#id_form-0-gender{
	width:50%;
}
#edit_profile_messages{
	margin-left: -160px;
}
.panel-default{
	min-width:130px;
}
#more_pictures_appear{
	display:none;	
}
.edit_profile_wrapper{
	margin: 0 auto;
	width:80%;
}
#edit_profile_container{
	width:90%!important;
}
#pictures_appear{
	/* Border Radius */

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* shadow */
	-webkit-box-shadow: 1px 2px 2px rbga(0,0,0,0.6);
	-moz-box-shadow: 1px 2px 2px rbga(0,0,0,0.6);
	-box-shadow: 1px 2px 2px rbga(0,0,0,0.6);

	padding: 5px 15px;
	background: rgba(0,0,0,0.3);
	display: inline-block;
	outline: none;
	color: #ffffff;
	text-decoration: none;

	-webkit-transition-duration: 0.20s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-duration: 0.20s;
	-moz-transition-timing-function: ease-out;
}

#pictures_appear:hover{
	text-decoration: none;
	background: rgba(0,0,0,0.5);
	padding: 5px 25px;
}

#pictures_appear:active{
	background: rgba(0,0,0,0.1)
	-webkit-box-shadow: 1px 1px 1px rbga(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 1px rbga(0,0,0,0.4);
	-box-shadow: 1px 1px 1px rbga(0,0,0,0.4);

}
#home label{
	width:100px;
}
p label{
	font-size: 1.125em;
}
#locations p{
	width: 300px;
}

.col-lg-12 p{
	width:350px;
}
.edit_profile_navbar{
	margin-left:0px!important;
}
.col-lg-12 #home p{
	width:350px;
}

.col-lg-12 p input{
	float:right;
	width:200;
}
#home p input{
	float:none!important;
	width:200;
}
.delete_info{
	font-size:14px;
}

#delete_account .btn-lg:hover{
	color:white;

}
.col-lg-12 p select{
	width:200;
	float:right;
}
#myTab{
	width:80%;
	text-align:center;
	margin:20px auto 20px;
}

#myTab li a:hover{
	background:#404040!important;
	color:white!important;
}

#myTab li a{
	color: #404040;
	outline: none;
	width: 120px;
	text-align:center;
	font-size: 12px;
	border: 1px solid #404040;
}

#delete_account{
	font-size: 8px!important;
}

p a{
	color:black;
}

#edit_profile_container{
	margin-left:80px;
}

#id_form-0-image label{
	font-size: 2em;

}

@media (max-width: 1000px){
	#home .btn{
	margin-left:0px;
	}	
}

@media (max-width: 670px){
	.edit_profile_container{
		margin-left:80px;
	}
}

@media (max-width: 645px){
	.edit_profile_navbar{
		margin-left:85px!important;
	}
}