html, ul, ul li, li, li a, a, p, .btn{
	font-family: 'Open Sans', sans-serif;
}

.btn-success, .btn .btn-success{
	background-color: #00CCFF!important;
	color: #fff !important;
	border-color: #00CCFF !important;
}

.btn-success:hover, .btn .btn-success:hover {
	background-color: #fff !important;
	color: #00CCFF !important;

}

p label{
	font-size: 1.125em;
}
#locations p{
	width: 300px;
}

.col-lg-12 p{
	width:350px;
}

.col-lg-12 p input{
	float:right;
	width:200;
}

.col-lg-12 p select{
	width:200;
	float:right;
}