footer p a{
	text-decoration: none; 
	color: #333;
}

footer p a:hover{
	text-decoration: none;
	color: #333;
	}

@media all and (min-width: 900px){
	footer{
		margin-left:100px;
	}
}

@media all and (min-width: 1100px){
	footer{
		margin-left:200px;
	}
}

@media all and (min-width: 1400px){
	footer{
		margin-left:400px;
	}
}

@media all and (min-width: 2200px){
	footer{
		margin-left:600px;
	}
}