footer p a{
	text-decoration: none; 
	color: #333;

}

footer p{
	text-align: center;
	display:inline;
	margin-left:15%;
}

footer p a:hover{
	text-decoration: none;
	color: #333;
	}

footer{
	margin-left:0px;
}

#contact_us{
	float:right;
	margin-right:15%;
	color:black;
}

.footer-container{
	padding-top:20px;
	padding-bottom:20px;
}
