footer a{
	text-decoration: none; 
	color: black;

}

footer p{
	text-align: center;
	display:inline;
	margin-left:15%;
}

footer a:hover{
	text-decoration: none;
	color: #1fbad6;
	}

footer{
	margin-left:0px;
}

#contact_us{
	float:right;
	margin-right:15%;
	color: black;
}

#contact_us:hover{
	color:#1fbad6;
}

.footer-container{
	padding-top:20px;
	padding-bottom:20px;
}


