.interests-title h3{
	font-size: 40px;
	margin-top:-5%;
}

.interests-wrapper{
	text-align: center;
	min-width: 300px;
}

.btn{
	background-color: #00CCFF!important;
	color: #fff !important;
	border-color: #00CCFF !important;
}

.btn:hover{
	background-color: #fff !important;
	color: #00CCFF !important;
	border-color: #00CCFF !important;
}
.pager li a{
	color: #999;
	font-weight: bold;
}

.pager li a:hover{
	text-decoration: underline;
}

.main_interests{	
	min-width: 300px;
}

.description{
	font-style: italic;
}
.img-container{
	width: 75%;
	margin: 0 auto;
	margin-bottom: 1.5em;
}

.img-responsive{
	margin:auto;
	border-radius:50%;
	border: .2em #333 solid;
}

.previous{
	float: left;
}

.next{
	float: right;
}
.importance_level{
	color: #000;

}

.current{
	bottom:0;	
	position:absolute;
	margin:0 auto;
	width: 50%;
	margin:0 auto;

}

#interest_button{
	margin-top: 0%;
}

/* Star Rating System */
#hide {
    display:none;
}
 
.rating input {
    position:absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    cursor:pointer;
    width:17px;
}
 
.rating span {
    width:24px;
    height:16px;
    line-height:16px;
    padding:1px 22px 1px 0; /* 1px FireFox fix */
    background:url(/static/img/stars.jpeg) no-repeat -22px 0;
}
 
/* Change span immediately following the checked radio */
 
.rating input:checked + span {
    background-position:-22px 0;
}
 
/* Reset all remaining stars back to default background.
   This supersedes the above due to its ordering. */
 
.rating input:checked + span ~ span {
    background-position:0 0;
}

/* Footer */
footer{
	margin-left: 10%;
}

.row{
	width: 100%;
	margin:0 auto;
}

.interests_intro h3{
	font-style:italic;
	font-weight: 700;
	font-size: 2em;
}

.interests_intro a{
	color: #00CCFF;
}

.interests_intro a:hover, .interests_intro a:active{
	color: #00CCFF;
}
@media only screen and (min-width:950px){
	.interests-wrapper{
		margin-left: 10%;
	}
}

@media only screen and (max-width:450px){
	.interests_intro h3{
		font-size: 1.5em;
	}
}

/* Create */
form {
	width: 80%;
	margin: 0 auto;
}

label, input{
	display: inline-block;
}

label {
	width: 400px;
}

label + input{
	min-width: 150px;
	width: 50%;
	margin: 0 30% 0 4%;
}

input + input {
	float: right;
}

@media only screen and (min-width:975px){
	.contain{
		margin-left: 10%;
	}
	.footer-container{
		margin-left: 20%;
	}
}

@media only screen and (min-width:1275px){
	.footer-container{
		margin-top:30%;
	}