html, p, a, .body, .row h3, .row h5, .row p{
	font-family: 'Open Sans', sans-serif;
}
.interests-title h3{
	font-size: 40px;
}

.row h3 {
	font-weight: 700;
}

.btn{
	background-color: #00CCFF!important;
	color: #fff !important;
	border-color: #00CCFF !important;
}

.btn:hover{
	background-color: #fff !important;
	color: #00CCFF !important;