.right-button{
	float: right;
}

.left-button{
	float: left;
}
.compose-container{
	margin-left:80px;
}
#message_container label{
	width:90%;
}

#message_image{
	height:50px;
}

#delete_message{
	width:50px;
	height:50px;
}

#delete_sent{
	float:right;
}

#inbox_trash{
	margin-left:15px;
	outline:none;
}
#inbox_body{
	overflow:hidden;
	width:400px;
}

#sent_text{
	width:100%;
	min-height:120px;
	cursor:default;
	background-color:white;
	padding: 5px 5px 5px 5px;
}
#message_body_holder{
	margin-right:15px!important;
	width:100%;
}
.well{
	border:1px solid black;
	background-color:#f9f9f9;
	padding:0px 0px 0px 0px;
	min-height:80px;
}

.button_container{
	width:100%;
	margin-bottom:100px;
}
#compose_message_container{
	width:50%;
	margin:0px auto;
	min-width:200px;
}
#compose_button_container{
	width:100%;
}
#send_message_button{
	min-width: 150px;
}
tr th{
	width:50%;
}
th{
	color: white;
}
thead{
	background-color: black;
}
.btn-sm{
	width:120px;
	padding: 5px 5px 5px 5px;
}
.message_container label{
	width: 65px!important;
	margin: 0 5% 0 4%;
}
#view_container a{
	color: white;
}

#view_container a:hover{
	color: #1FBAD6;
}

td{
	background-color: #f8f8f8!important;
	padding: 10px 10px 10px 10px;
}

th{
	font-size:1.5em;
	padding: 10px 10px 10px 10px;
}
table{
	width:100%;
}
#view_table{
	min-width:150px;
}
label[for=id_body]{
	width:100%;
}
#views_container{
	width:90%;
	margin-left:120px;
}
.messages_view{
	margin:0 auto;
	width:100%;
}
#messages_container{
	margin-top:100px;
	margin-left:80px;
	min-width:200px;
}

#compose_message_container label{
	min-width:50px;
}
#compose_message_container textarea{
	max-width: 600px;
	width: 100%;
	height: 200px;
	border: 1px solid black;
}
textarea{
	border:1px solid black;
}
input{
	border: 1px solid black;
	padding: 1px 5px 1px 5px;
}
/* Media Queries */

#message_container{
	margin-left:120px;
	min-width:200px;
	width:90%;
}

@media (max-width: 402px){
	.button_container{
		width:120px;
	}
}

@media (max-width: 550px){
	#compose_message_container textarea{
		width: 200px!important;
	}
	#compose_message_container label{
		width:70px;
	}
}

@media (max-width: 450px){
	#inbox-body{
		width:200px;
	}
	#message_body_holder{
		padding-right:0px!important;
		padding-left:0px!important;
		margin-right:0px!important;
	}
	#message_body_container{
		padding-left:0px!important;
		padding-right:0px!important;

	}
	#delete_message{
	width:20px;
	height:20px;
	}
	#inbox_trash{
		margin-left:0px!important;
	}
	#inbox_trash.glyphicon{
		padding-right:0px!important;
	}
	.long_nav{
		margin-left:20px!important;
	}
}

