.right-button{
	float: right;
}

.left-button{
	float: left;
}

.compose-container{
	margin-left:80px;
}

.button_container{
	margin: 0 auto;
}

.row{
}
tr th{
	width:50%;
}
th{
	color: white;
}
thead{
	background-color: #084c8d;
}
.btn-sm{
	width:120px;
}

h4, tbody td:first-child{
	text-transform: capitalize;
}
.message_container label{
	width: 65px!important;
	margin: 0 5% 0 4%;
}

td{
	background-color: #f8f8f8!important;
}

#messages_container{
	margin-top:100px;
	margin-left:80px;
	min-width:200px;
}
textarea{
	max-width: 600px;
	width: 100%;
	height: auto;
}
/* Media Queries */

@media (min-width: 1300px){
	.container{
		margin-left: 12%!important;
	}
}

#message_container{
	margin-left:80px;
	min-width:200px;
	width:100%;
}

@media (max-width: 402px){
	.button_container{
		width:120px;
	}
}