.navbar-fixed-top{
	opacity: .9;
}
button.navbar-toggle:hover, button.navbar-toggle:active, button.navbar-toggle:focus{
	background-color: #404040!important;
	border-color:#404040!important;
}

#tertiary_navbar a:hover{
	color: #1fBAD6!important;
}
#search_new{
	background-color:white;
	border:none;
}

.navbar-brand{
	width:130px;
	cursor:pointer;
	z-index:1000;
}

.navbar-header{
	clear:both;
	float: none!important
}
.navbar-inverse .navbar-toggle{
	background-color:black;
	margin-top:12px;
}
.navbar-brand:hover{
	box-shadow: 0 0 1px rgba(0,0,0,0);
}
.navbar-form.navbar-left{
	margin-top:15px;
}
#menu_icon{
	width:50px;
	height:50px;
	margin-top:-15px;
	z-index:1000;
}
.navbar-nav > li > a {
	padding-bottom:25px;
	padding-top: 25px;
	line-height:10px;
}
.dropdown-menu{
	min-width:100px;
	width:100px;
}
.dropdown-toggle{
	width:100px;
	text-align:center;	
}

#secondary_navbar h1{
	margin-bottom:15px;
}

.navbar.navbar-inverse.navbar-fixed-top{
	background-color:white;
	border-bottom: none;
	min-width: 200px!important;
	height:60px;
	border-bottom:1px solid black;

}
.navbar-brand{
	letter-spacing: .3em;
	-webkit-transition: all 500ms ease;
 	-moz-transition: all 500ms ease;
 	-o-transition: all 500ms ease;
 	transition: all 500ms ease;
 	font-weight:700;
}

.navbar a{
	color: black!important;
	
}

.navbar a:hover{
   color: black!important;
  	-webkit-animation: myfirst 5s;
	animation: myfirst 5s;

}

@keyframes myfirst {
	0% {border: 1px solid black;}
	25% {background-left: 1px solid black;}
	50% {background-top: 1px solid black;}
	100% {border: 1px solid black;}
}
.visitors a{
	text-decoration: none;
}

.dropdown-menu{
	border-left: .5px solid;
	border-bottom: .5px solid;
	border-right: .5px solid;
	box-shadow: 0px 0px 0px 0px;
	width:100px;
	margin-left:50px;

}

.dropdown-menu li a{
	color: blue;
	-webkit-transition: all 500ms ease;
  	-moz-transition: all 500ms ease;
  	-o-transition: all 500ms ease;
  	transition: all 500ms ease;
}
.dropdown-menu li a:hover{
	color:black;
}


.dropdown-menu li:hover{
	color: black; 
 	text-shadow:
   -.1px -.1px 0 white, 
    .1px -.1px 0 white,
   -.1px  .1px 0 white,
    .1px  .1px 0 white;
}

.dropdown-menu{
	background-color: #404040;
	border-right: none;
	border-left: none;
	border-bottom: none;
}

.dropdown a:focus, .dropdown a:active, .dropdown a{
	background-color: rgba(255,255,255, .01) !important;	
}

.dropdown-toggle{
	background-color: none !important;
}

a.dropdown-toggle{
}

@media only screen and (min-width:1100px){
	.navbar-brand{
		letter-spacing:.4em;
	}
}

#secondary_navbar{
	background-color: #fff;
	min-width: 280px;
	margin-top:5px;
	padding-top:15px;
	padding-bottom:5px;
}

.inbox a:hover{
	color:  #1fBAD6!important;
}

#messages_navbar{
	background-color: #fff;
	min-width: 280px;
	margin-top:5px;
	padding-top:15px;
	padding-bottom:5px;
	text-align:center;
}
#secondary_navbar a, #secondary_navbar h1{
	color: #084c8d;
}

.button_container{
	text-align:center;
	margin-top: 10px;
}
#tertiary_navbar a{
	color: #404040!important;
}

.navbar-collapse.collapse.in{
	border-top:white;
}
.navbar-collapse.collapsing{
	border-top:white;
}

.navbar-brand{
	text-align: center;
	margin-top:5px;
}

#secondary_navbar .navbar_nav{
	float: none;
	display: inline-block;
}

#secondary_navbar h1{
	text-align:center;
	width: 100%;
}

#secondary_navbar a{
	text-align: center;
}
.placeholder{
	width: 100px!important;
	text-align:center;
	letter-spacing: 12px;
}

.nav > li{
	display:inline-block;
}

.dropdown-toggle{
	font-weight:700;
	width:200px;
}
#tertiary_navbar{
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px;
	min-width: 280px;
}

#button_navbar{
	width: 100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px;
	min-width: 280px;
}
.inbox{
	width:60px;
}
.inbox a{
	width:60px;
}

.logout a:hover{
	color: #1fBAD6!important;
}
#tertiary_navbar a{
	color: black;
	text-align: center;
}

#button_navbar a{
	text-align: center;
	color:#1fbad6;
}

#tertiary_navbar span{
	padding-left: 1em;
	color: #1fBAD6;
	padding-right: 1em;
}

.form-control{
	display:inline;
	width: 40%;
	margin-left:-10px;
	
}

.btn-mobile{
	z-index:100;
}
form.navbar-form.navbar-left{
	border-top: none!important;
	border-bottom:none!important;

}
@media (max-width: 1000px) {
	#tertiary_navbar{
		margin-top: -10px;
	}
	#button_navbar{
		margin-top:-10px;
	}
}

@media (min-width: 750px) and (max-width: 900px) {
	#navbar-container{
		margin-left: 0px!important;
	}
	.form-control{
		width:120px!important;
	}
}

@media (min-width: 1330px){
	.form-group{
		width:560px!important;
	}
	.form-control{
		width:480px!important;
	}
}

@media (max-width: 480px){
	.navbar-brand{
		letter-spacing: .3em;
		-webkit-transition: all 500ms ease;
	 	-moz-transition: all 500ms ease;
	 	-o-transition: all 500ms ease;
	 	transition: all 500ms ease;
	 	font-size: 1em;
	 	margin-left: 0px!important;
	 	margin-left:-30px!important;
	}

	.navbar.navbar-inverse.navbar-fixed-top{
		height:40px;
	}
	#menu_icon{
		height:25px;
		width:25px;
		margin-left:25px;
	}
	.navbar-inverse .navbar-toggle{
		margin-top: 7px;
	}
}

@media (max-width: 770px){
	.navbar-fixed-top{
		opacity: 1;
		margin: 0 auto;
		width: 100%;
	}
}

@media(min-width: 860px){
	.pull-right{
		margin-right:5%;
	}
}

@media (max-width: 767px){
	.pull-right{
		margin-left:0px;
		width:150px;
		display:inline;
	}
	.navbar-form.navbar-left{
		width:45%;
		display:inline;
	}

	.navbar-nav > li > a {
	padding-bottom:25px;
	padding-top: 10px;
	line-height:10px;
	}
	.navbar-collapse.collapse.in{
		border-bottom:1px solid black;
	}
	#navbar-container{
	margin-left:0px;
	}
	.form-control{
		width:40%;
	}
	#go_button{
		width:15%;
		text-align: center!important;
	}
	.navbar-form.navbar-left{
		margin-top:0px!important;
		display:none;
	}

	#navbar_mobile{
		display:inline-block!important;
		float:left;
		width:200px;
	}
	.form-mobile{
		width:150px!important;
		margin-top:5px;
	}
	.input_mobile{
		width:70%!important;
	}
	.btn-mobile{
		width:30px!important;
	}
	.navbar-form{
	padding: 15px 10px!important;
	}
}

@media (min-width: 767px){
	#navbar_mobile{
		display:none;
	}

}

@media (max-width: 420px){
	#navbar_mobile{
		display:inline-block!important;
		float:left;
		width:120px;
	}
	.form-mobile{
		width:115px!important;
		margin-top:5px;
	}
	#messages_sidebar{
		width:20px;
		height:10px;
		margin-left:30px;
	}
	.login a{
		padding-right:0px;
	}
	#go_button{
	padding-right:5px;
	position:absolute;
	padding-left:5px;
	}
	
}
.glyphicon.glyphicon-search{
	margin:0 auto!important;
}

/* Not Logged in */

.press_navbar{
  width:100%;
  height:60px;
  border-bottom:1px solid #1fbad6;
  text-align:center;
  margin-bottom:20px;
  background-color:#fff;
  position:fixed;
  z-index:1030;
}

.press_brand span{
  font-size:3.2rem;
  font-family: Roboto, sans-serif;
  letter-spacing:2px;
  color:#1fbad6;
}
.private{
	padding-left:40px;
	padding-right:40px;
	text-align: center;
}
.private a{
  color:#1fbad6;
}
.private a:hover{
  opacity:.8;
}

@media (max-width: 420px){
	.private a{
  	font-size:14px;
	}
}
.navbar-brand{
	height:20px!important;
	font-weight:300;
}

#menu:hover{
	color:#1fbad6!important;
}

