img{
}

#picture_string .item{
	margin: 3px;
}

#picture_string .item img{
	display: block;
	width: 100%;
	height: auto;
}
#pictures_image{
width: 50%;
height: 50%;
min-width:100px;
margin-left: 80px;
}

#thumbnail{
	min-width:175px;
}
#picture_caption{
	width:50%;
}
.pictures_container{
	margin-left:160px;

}
@media (min-width: 800px) {
	.container{
		min-width:200px;
	}
}
