img{
	width: 175px;
	height: 200px;
}

img:hover{
	-webkit-transform: scale(1.05);
 	transform: scale(1.05);
 	-webkit-transition: all 500ms ease;
  	-moz-transition: all 500ms ease;
  	-o-transition: all 500ms ease;
  	transition: all 500ms ease;
}
#picture_string .item{
	margin: 3px;
}

#picture_string .item img{
	display: block;
	width: 100%;
	height: auto;
}

@media (min-width: 1245px) {
	.container{
		margin-left: 200px!important;
	}
}

@media (min-width: 1605px) {
	.container{
		margin-left: 300px!important;
	}
}

@media (min-width: 2445px) {
	.container{
		margin-left: 400px!important;
	}
}