img{
}

#picture_string .item{
	margin: 3px;
}

#picture_string .item img{
	display: block;
	width: 100%;
	height: auto;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}
.img-responsive{
width: 100%;
height: 100%;
}
@media (min-width: 1245px) {
	.container{
		margin-left: 200px!important;
	}
}

@media (min-width: 1605px) {
	.container{
		margin-left: 300px!important;
	}
}

@media (min-width: 2445px) {
	.container{
		margin-left: 400px!important;
	}
}