html{
  background-color:#f8f8f8;
  height:100%;
  width:100%;
}
body{
  height:100%;
  width:100%;
  margin:0px 0px 0px 0px;
}
hr{
  border-color:#1fbad6;
}
.wrapper{
  max-width:800px;
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
}

.head_picture{
  height:440px;
  background: url('/static/img/frenvu_peeps.png') no-repeat;
  background-size: contain;
}
.subheader{
  float:left;
  width:60%;
  padding-right:10px;
}
a{
  color: black;
  text-decoration:none;
}
a:hover{
  color:#1fbad6;
}
.navbar{
  width:100%;
  height:60px;
  border-bottom:1px solid #1fbad6;
  text-align:center;
  margin-bottom:20px;
  background-color:#fff;
}

.brand span{
  font-size:3.2rem;
  font-family: Roboto, sans-serif;
  letter-spacing:2px;
  color:#1fbad6;
}

h1{
  font-family:Roboto, sans-serif;
  font-weight:300;
  font-size:2rem;
}
h2{
  font-family:Roboto, sans-serif;
  font-weight:300;
  font-size:1.8rem;
  color: #1fbad6;
}
#background-info p{
  font-style: italic;
}
.subheading{
  line-height:40%;
  color: #333;

}
.subheading p{
  display: inline-block;
  font-size:10px;
}
.subheading p:first-child{
  margin-right:120px;
}
.press_body{
  line-height:180%;
}

.press_list li{
  list-style:none;
}
.part_4{
  text-align: center;
}

.part_4 a{
  color:#1fbad6;
  opacity:.9;
}

.part_3 a{
  color:#1fbad6;
  opacity:.9;
}

@media(max-width:550px){
  .head_picture{
    width:100%;
}
  .subheader{
    width:100%;
    padding-right: 0px;
  }
}
@media(max-width:450px){
  .head_picture{
      height:250px!important;;
  }
}
@media(max-width:667px){
  .head_picture{
    height:300px;
}
}

/* Footer */
footer{
  width:100%;
  background-color:#fff;
  padding:5px 0px 15px 00px;
  text-align: center;
}
footer a{
  color:#1fbad6;
  font-weight:300;
  font-size:16px;
  opacity:.8;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width : 500px){
  footer a{
  font-size:18px;
  }
}
footer a:hover, footer a:focus, footer a:active{
  color:#1fbad6;
  text-decoration: underline!important;
  opacity:1;

}
footer li{
  list-style: none;
  display:inline-block;

}
.footer_1{
  line-height: 20px;
  padding-top: 20px;
}
.footer_2{
   margin-top:20px;
}
.footer_1 li{
  width:20%;
}
.footer_2 li{
  width:30%;
}


/* Header */
.press_right{
  display:inline-block;
  margin-top: 35px;
}
.brand{
  float: left;
  margin-left: 10%;
}

@media(max-width:720px){
  .press_right{
    display:none;
  }
}

/* Contact */

    /** the form elements **/  
    #hongkiat-form { box-sizing: border-box; }  
      
    #hongkiat-form .txtinput {   
      display: block;  
      font-family: "Helvetica Neue", Arial, sans-serif;  
      border-style: solid;  
      border-width: 1px;  
      border-color: #dedede;  
      margin-bottom: 20px;  
      font-size: 1.55em;  
      padding: 11px 25px;  
      padding-left: 55px;  
      width: 90%;  
      color: #777;  
        
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;  
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;  
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;   
        
      transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
      -webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
      -moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
      -o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
    }  
      
    #hongkiat-form .txtinput:focus {   
      color: #333;  
      border-color: rgba(41, 92, 161, 0.4);  
        
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);  
      outline: 0 none;   
    }  

    #hongkiat-form textarea {  
      display: block;  
      font-family: "Helvetica Neue", Arial, sans-serif;  
      border-style: solid;  
      border-width: 1px;  
      border-color: #dedede;  
      margin-bottom: 15px;  
      font-size: 1.5em;  
      padding: 11px 25px;  
      padding-left: 55px;  
      width: 90%;  
      height: 180px;  
      color: #777;  
        
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;  
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;  
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;   
        
      transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
      -webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
      -moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
      -o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;  
    }  
    #hongkiat-form textarea:focus {  
      color: #333;  
      border-color: rgba(41, 92, 161, 0.4);  
      
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);  
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);  
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);  
      outline: 0 none;   
    }  
    #hongkiat-form textarea.txtblock {  
        background: #fff url('http://media02.hongkiat.com/responsive-css3-form/speech.png') 5px 4px no-repeat;  
    }  


      #buttons #submitbtn {  
      display: block;  
      float: left;  
      height: 3em;  
      padding: 0 1em;  
      border: 1px solid;  
      outline: 0;  
      font-weight: bold;  
      font-size: 1.3em;  
      color: #fff;  
      text-shadow: 0px 1px 0px #222;  
      whitewhite-space: nowrap;  
      word-wrap: normal;  
      vertical-align: middle;  
      cursor: pointer;  
        
      -moz-border-radius: 2px;  
      -webkit-border-radius: 2px;  
      border-radius: 2px;  
        
      border-color: #5e890a #5e890a #000;  
        
      -moz-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);  
      -ms-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);  
      -webkit-box-shadow: inset 0 1px 0 rgba(256,256,256, .35);  
      box-shadow: inset 0 1px 0 rgba(256,256,256, .35);  
        
      background-color: rgb(226,238,175);  
      background-image: -moz-linear-gradient(top, rgb(226,238,175) 3%, rgb(188,216,77) 3%, rgb(144,176,38) 100%);  
      background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(3%,rgb(226,238,175)), color-stop(3%,rgb(188,216,77)), color-stop(100%,rgb(144,176,38)));   
      background-image: -webkit-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);  
      background-image: -o-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);  
      background-image: -ms-linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);  
      background-image: linear-gradient(top, rgb(226,238,175) 3%,rgb(188,216,77) 3%,rgb(144,176,38) 100%);   
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeaf', endColorstr='#90b026',GradientType=0 );  
    }  
    #buttons #submitbtn:hover, #buttons #submitbtn:active {  
      border-color: #7c9826 #7c9826 #000;  
      color: #fff;  
        
      -moz-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);  
      -ms-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);  
      -webkit-box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);  
      box-shadow: inset 0 1px 0 rgba(256,256,256,0.4),0 1px 3px rgba(0,0,0,0.5);  
        
      background: rgb(228,237,189);  
      background: -moz-linear-gradient(top, rgb(228,237,189) 2%, rgb(207,219,120) 3%, rgb(149,175,54) 100%);   
      background: -webkit-gradient(linear, left top, left bottombottom, color-stop(2%,rgb(228,237,189)), color-stop(3%,rgb(207,219,120)), color-stop(100%,rgb(149,175,54)));   
      background: -webkit-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%);   
      background: -o-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); background: -ms-linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%); background: linear-gradient(top, rgb(228,237,189) 2%,rgb(207,219,120) 3%,rgb(149,175,54) 100%);   
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4edbd', endColorstr='#95af36',GradientType=0 );  
    }  

@media screen and (max-width: 800px) {   
    #container {  
        width: 100%;  
    }  
    #hongkiat-form #aligned {  
        width: 100%;  
        float: none;  
        display: block;  
    }  
    #hongkiat-form #aside {  
        width: 100%;  
        display: block;  
        float: none;  
    }  
    #hongkiat-form .txtinput, #hongkiat-form textarea {  
        width: 85%;  
    }  
    #prioritycase {  
        float: left;  
        display: block;  
    }  
    #recipientcase {  
        float: left;  
        display: block;  
        margin-right: 55px;  
    }  
}  

    /* smaller screen dropoff *******/  
    @media only screen and (max-width: 550px) {  
        #hongkiat-form .txtinput, #hongkiat-form textarea {  
            width: 80%;  
        }  
    }  
      
    /* iPhone Landscape ********/  
    @media only screen and (max-width: 480px) {  
        select.selmenu {  
            width: 190px;  
        }  
    }  
      
    /* iPhone portrait *******/  
    @media only screen and (max-width: 320px) {  
        #hongkiat-form .txtinput, #hongkiat-form textarea {  
            width: 70%;  
        }  
        #hongkiat-form #aligned {  
            overflow: hidden;  
        }  
        select.selmenu {  
            width: 160px;  
        }  
        #recipientcase {  
            margin-right: 30px;  
        }  
    }  