.col-12{
	min-width: 100px;
}
#user_name{
	font-size:2em;
	margin-bottom:0px!important;
	color:#404040;
	font-family: "Roboto", sans;
}

#location{
	margin-bottom:0px!important;
	min-width:150px!important;
}
.next_user_hidden span{
	font-size:4.2rem;
}
#content{
	height:500px;
	width:500px;
}
#bio_body, #occ_body{
	text-align:left;
}
.common_interest{
	border: 3px solid #1fbad6;
	border-radius: 50%;
	padding: 2px 5px 2px 5px;
}
#information{
	margin-top:25px;
	margin-bottom:25px;
	min-height:200px;
}
.panel-heading{
	text-align: center;
}
.panel-heading p{
	font-family: 'Roboto', sans-serif;
	font-weight:300!important;
}

.previous_user{
	visibility:hidden
}

.location_div{
	height:70px;
}
.thumbnail_carousel{
	border-radius:50%!important;
}
.col-sm-12{
	padding-left:0px!important;
	padding-right: 0px!important;
}
#user_address{
	font-size:1em;
	margin-top:0px;
}
.previous_user{
	float:left;
	display:inline-block;
}

.previous_user a{
	color:black!important;
	font-size:4.2rem;
}

.previous_user_hidden{
	visibility: hidden;
	float:left;
	display:inline-block;
}

.previous_user_hidden span{
	font-size:4.2rem;
	padding-bottom:30px!important;
}
.previous_user a:hover{
	color:#1FBAD6!important;
}
.next_user{
	float:right;
	display:inline-block;
}
.next_user_hidden{
	visibility: hidden;
	float:right;
	display:inline-block;
}

.next_user_hidden span{
	font-size:4.2rem;
	padding-bottom:30px!important;
}

.next_user a{
	color:black!important;
	font-size:4.2rem;
}

.next_user a:hover{
	color:#1FBAD6!important;
}

.next_user span{
	padding-right:20px;
	padding-bottom:30px!important;
}
h4{

}
.previous_user span{
	padding-left:20px;
	padding-bottom:30px!important;
}

#new_user_body{
	width:80%;
	margin: 0 auto;
}

.nav-tabs li a{
	min-width: 150px;
	background-color: #f8f8f8;
}
.nav-tabs a{
	color: black;
	background-color:#f8f8f8;
}

#single_user_container h4{
	text-align: center;
	margin: 0 auto;
	font-size:1.8rem;
}
.img-responsive{
	width: auto;
	height: 200px;
	margin-top: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.ui.button{
	padding:0px!important;
}
.hidden{
	display:none;
}

.unhidden{
	display:block;
}

.tab-pane{
	min-height: 10em;
}
.col .col-sm-12 h1{
	text-align: center;
} 

#profile_interests{
	float: right!important;
	width: 40%;
}

#buttons_row #message_button_not_friends{
	cursor: not-allowed;
}
#picture_row{
	width: 100%;
	text-align: center;
}

#single_user_container h1{
	color: black!important;
	text-align: center;
}

.matching{
	line-height: 1;
}
.col-sm-4{
	height: 300px;
	text-align:center;
}

.col-sm-4{

}

.col-sm-4 img{
	margin: 0 auto;
}


.col-lg-6{
	margin-top: 0%;
	width: 100%;
}

#single_user_body{
	margin-top:2%;
	text-align: center;
}
.panel-heading{
	background-color: rgb(31, 186, 214) !important;
	padding: 5px 5px!important;
}
.panel-heading p{
	color: white!important;
	font-size: 1.5em;
	display:inline;
}

.panel-heading .glyphicon.glyphicon-chevron-down{
	color:white;
	margin-top: 5px;
	float:right;
	font-size:1.5em;
	padding-right:10px;

}

#message_button a, #interests_button a, #friend_button a, #pictures_button a, #buttons_row #message_button_not_friends a{
	font-size: 1.25em;
}
#message_button, #interests_button, #friend_button, #pictures_button, #buttons_row #message_button_not_friends{
	width: 24%;	
}

.buttons a{
	color: white;
	display: inline-block;
	font-size:1.2em;
	
}
.buttons a p{
	margin-top:35px;
	line-height:20px;
}
.buttons{
	margin-top: 5%;
}
#secondary-navbar{
	margin-left: 80px;
}

#single_user_container{
	background-color: white;
	border-radius:1%;
}

.navbar-collapse.collapse.in{
	background-color: white!important;
}

.	navbar-collapse.collapsing{
	background-color: white!important;
}

@media(max-width: 1000px){
	#delete_message_button, #message_button, #interests_button, #friend_button, #pictures_button, #message_button_not_friends{
	width: 23.5%;	
	}
}

@media(max-width: 480px){

	.panel-heading p{
		font-size:1.25em;
	}
	.panel-heading .glyphicon.glyphicon-chevron-down{
		margin-top:0px;
	}
}

@media(max-width: 400px){
	#myfriend{
	width:100%;
	height:auto;
	}
	.previous_user{
		padding-top:10px;
	}
	.next_user{
		padding-top:10px;
	}

	#single_user_container h1{
		font-size: 2em;
	}
	#single_user_container h3{
		font-size: 1.25em;
	}
}

@media(max-width: 380px){
	#buttons_row{
		width:100%;
	}
} 

@media(max-width: 670px){
	#delete_message_button, #message_button, #interests_button, #friend_button, #pictures_button, #buttons_row #message_button_not_friends{
		width: 49%;	
	}
	#single_user_body{
		padding-left:0px!important;
		padding-right:0px!important;
	}
} 

.panel-default{
	min-width:115px;
}

.panel-body{
	color:black;
}

/* User Tutorial Modal */
.modal-title{
	text-align:center;
	font-size: 24px;
	color: black;
	background-color: white;
}

.modal-header{
	background-color:white;
	border-radius:5px;
}

.modal-content{
	border:1px solid black;
}
.close{
	color:white;
}

.modal-body{
	text-align:center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	box-shadow: 0 1px 5px #1FBAD6;
}

.modal-body p{
	font-size: 18px;
}

.modal-body a{
	color: #1FBAD6!important;

}

.modal-content .btn{
	width:50%;
	margin: 0 auto;
	font-size:18px;	
	background-color: #1FBAD6!important;
	color: white!important;
	border-radius:0px;
}

.modal-footer{
	text-align:center;
}

.discover-title{
	font-size: 36px;
}
#loading_gif{
	display:none;
	width:100%;
	margin-top:100px;
	text-align:center;
}
#loading_gif_header{
	font-size:24px;
	margin-bottom:50px;
	color:#1fbad6!important;
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-delay:1s;
	-moz-animation-duration:5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-delay:1s;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-delay:1s;
}


@media(min-width:1400px){
	#buttons_row #friend_button{
	background: url(/static/img/profile/bar_friends_dark.jpg);
	background-size:cover;
	height:150px;
}

#buttons_row #interests_button{
	background: url(/static/img/profile/yoga_dark.png);
	background-size:cover;
	height:150px;
}

#buttons_row #pictures_button{
	background: url(/static/img/profile/camera_stock_dark.png);
	background-size:cover;
	height:150px;
}

#buttons_row #message_button, #buttons_row #message_button_not_friends{
	background: url(/static/img/profile/iphone_dark.png);
	background-size:cover;
	height:150px;
}

#message_button_not_friends{
	background: url(/static/img/profile/iphone_dark.png)!important;
	background-size:cover!important;
	height:150px!important;
}

#delete_message_button, #message_button, #interests_button, #friend_button, #pictures_button, #message_button_not_friends {
	width:22%;
}

.buttons a{
	font-size:1.5em;
}

.buttons a p{ 
	margin-top:60px;
}
}
@media(max-width: 1400px){
	#message_button_not_friends p{
		margin-top:25px!important;
	}
}

@media(min-width: 1400px){
	#message_button_not_friends p{
		margin-top:50px!important;
	}
}

@media(min-width: 450px){
	.col-lg-10.col-12{
		padding-right:0px!important;
		padding-left:0px!important;
	}
	.row .col-sm-12{
		text-align: center;
	}

}

@media(max-width: 560px){
	#message_button, #interests_button, #friend_button, #pictures_button, #buttons_row #message_button_not_friends{
		width:100%;
		font-size:1.25em;
	}
	#message_button a, #interests_button a, #friend_button a, #pictures_button a, #buttons_row #message_button_not_friends a{
	font-size: 2em;
	}

	.panel-heading p{
		font-size:1.25em;
	}
	#new_user_body{
		width:100%;
	}
	.next_user a{
		font-size:2em;
	}
	.previous_user a{
		font-size: 2em;

	}
	.discover-title{
	font-size: 1.25em;
	}
	.next_user span{
		padding-top:10px;

	}
	.previous_user span{
		padding-top:10px;
	}

}
@media(min-width: 1205px){
	#single_user_container{
		margin-top:0%!!important;
	}
	#information{
		margin-top:100px!important;
	}
}

@media(max-width: 450px){
	.col-lg-10.col-12{
		padding-right:0px!important;
		padding-left:0px!important;
	}
	.reset_button, #generate_button, #ice_breaker_button{
		width:100%;
	}
	#information{
		margin-top:5px;
	}
}


/* Carousel */

.largeLabel{
	font-size:2.5rem!important;
	display:block!important;
	padding-top:0px!important;
	margin-top:0px!important;	
}