/* @group core */
html, body
{
    height: 100%;
    font-family: sans-serif;
}

html{
	background-color: #f8f8f8;
}

/* text in .top */
.usernav{
float: right;
padding: 10px;
margin-top: -20px;
}

.usernav a{
text-decoration: none;
color: black;
}

.usernav a:hover{
color: gray;
}


.top{
	position: absolute; 
  top: 0; 
  left: 0; 
  background-color: #474B59; 
  width: 800px; 
  padding: 0px 150px;
	height: 100px;
	border:1px solid #FFE0F0;
}
body {
  background: #fff;
  margin: 0;  
}

.middle{
float: right;
margin-left: 200px;
margin-right: 100px;
margin-top: 100px;
background-color: #f8f8f8;
}

.pic{
	background-color: #f8f8f8;
}
.toolbar {
  position: absolute;
  background: #2F2F31;   
  width: 15%;
  height: 100%;  
  left: 0;
  top: 0;
  min-width: 100px; 
}

.sidebar{
	padding: 20px 10px;
}
.toolbar p a{
     color: #FFE0F0;
     font-weight: bold;
		 text-decoration: none;
}

.toolbar p a:hover {
color: white;
}
.left{
	float: left;
	margin-left: 150px;
	margin-top: -100px;
	background-color: #f8f8f8;
}

#name{
margin-top: -180px;
background-color: #f8f8f8;
}

#aboutme p{
	font-size: 12px;
}
#aboutme h1{
font-size: 18px;
}
#placeHolder{
  display: none;  
}
.wrapper { width: 850px; height:600; overflow: hidden; margin: 0 auto; background: none; }


