.col-12{
	min-width: 100px;
}
#user_name{
	font-size:2em;
	margin-bottom:0px!important;
	color:#084c8d;
	font-family: "Open-sans", sans;
}

#user_address{
	font-size:1em;
	margin-top:0px;
}
.nav-tabs li a{
	min-width: 150px;
	background-color: #f8f8f8;
}
.nav-tabs a{
	color: black;
	background-color:#f8f8f8;
}

.img-responsive{
	width: 175px;
	height: 200px;
	margin-top:10px;
}

.tab-pane{
	min-height: 10em;
}
.col .col-sm-12 h1{
	text-align: center;
} 

#profile_interests{
	float: right!important;
	width: 40%;
}

#picture_row{
	width: 100%;
}

#single_user_container h1{
	color:white!important;
}

#bio_panel{
	height:150px;
}

.row .col-sm-12{
	width: 60%;
}

#message_button{

}

#friend_button{
	color: #084c8d;
}


.buttons{
	margin-left: 1%;

}

.matching{
	line-height: 1;
}
.col-sm-4{
	height: 300px;
	text-align:center;
}

.col-sm-4{

}

.col-sm-4 img{
	margin: 0 auto;
}
#buttons_row{
	margin-top: 5%;
}
#buttons_row .btn:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	background-color:#084c8d;
	color:white;
}

.col-lg-6{
	margin-top: 0%;
	width: 100%;
}

#single_user_body{
	margin-top:10%;
}
.panel-heading{
	background-color: #d5d5d5!important;
	padding: 0px 5px!important;
}
.panel-heading p{
	color: #084c8d!important;
	font-size: 1.5em;
}
#message_button a, #interests_button a, #friend_button a, #pictures_button a{
	font-size: 1.25em;
}
#message_button, #interests_button, #friend_button, #pictures_button{
	width: 180px;	
}

.buttons a{
	color: #084c8d;
	display: inline-block;
	
}
.buttons{
	margin-top: 5%;
}

#home-only{
	width: 100%;
	margin-left: 80px;
}
#secondary-navbar{
	margin-left: 80px;
}

#single_user_container{
	margin-left:80px;
	background-color:#404040;
	border-radius:3%;
}

@media(max-width: 1000px){
	#message_button, #interests_button, #friend_button, #pictures_button{
	width: 130px;	
}
}

@media(max-width: 770px){
	#message_button, #interests_button, #friend_button, #pictures_button{
	font-size: .9em;
	width: 110px;
	}
}

@media(max-width: 480px){
	#myfriend{
	width: 100px!important;
	height: 125px!important;
	}
}

#single_user_body{
	margin-bottom:10%;
}

.panel-default{
	min-width:115px;
}

/* User Tutorial Modal */
.modal-title{
	text-align:center;
	font-size:32px;
	color: white;
	background-color: #084c8d;
}

.modal-header{
	background-color:#084c8d;
}

.close{
	color:white;
}

.modal-body{
	text-align:center;
}

.modal-body p{
	font-size: 18px;
}

.modal-body a{
	color: #084c8d;
}

.modal-content .btn{
	width:50%;
	margin: 0 auto;
	font-size:18px;	
	background-color: #084c8d!important;
	color: white!important;
	border: 2px solid #d5d5d5;
	border-radius:7px;
}

.modal-footer{
	text-align:center;
}